
/*
	Copyright (C) 2011-2016 Hoefler & Co.
	This software is the property of Hoefler & Co. (H&Co).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&Co. If no such agreement exists, you may not
	access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&Co.
	For more information, please visit us at http://typography.com.
	281708-104089-20160402
*/

@font-face { font-family:"Mercury Display A"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/58CD406BB46066659.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/58CD406BB46066659.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Mercury Display 4r"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/58CD406BB46066659.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/58CD406BB46066659.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Mercury Display A"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/023C9CFE2EE4083CE.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/023C9CFE2EE4083CE.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Mercury Display 4i"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/023C9CFE2EE4083CE.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/023C9CFE2EE4083CE.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Mercury Display A"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/89FECFDEE7A6E290B.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/89FECFDEE7A6E290B.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:600; } @font-face { font-family:"Mercury Display 6r"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/89FECFDEE7A6E290B.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/89FECFDEE7A6E290B.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:600; } @font-face { font-family:"Mercury Display A"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/5D4BC14A6C4899457.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/5D4BC14A6C4899457.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:600; } @font-face { font-family:"Mercury Display 6i"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/5D4BC14A6C4899457.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/5D4BC14A6C4899457.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:600; } @font-face { font-family:"Mercury Display A"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/07F8D0049A5D49D13.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/07F8D0049A5D49D13.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Mercury Display 7r"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/07F8D0049A5D49D13.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/07F8D0049A5D49D13.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Mercury Display A"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/DBE439E0AB9D37829.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/DBE439E0AB9D37829.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Mercury Display 7i"; src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/DBE439E0AB9D37829.eot'); src: url('http://golfweek.com/wp-content/themes/golfweek/fonts/441898/DBE439E0AB9D37829.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } 