.single-quick_shot {

  .qs-content-wrapper();
  .qs-gutter();

  @media(@tablet) {
    max-width: @content-slim;
  }

  .quick-shots-detail-page {
    .clearfix();

    .right-modules {
      padding-left: 0;

      @media(@tablet) {
        margin: 0 auto;
        position: relative;
        float: right;
        // top: 35px;
        right: 0;
      }
    }

    .quick-shots-detail-article {
      position: relative;

      @media(@tablet) {
        float: left;
        width: ~"calc(100% - 330px)";
      }

      .quick-shots-detail-header {
        position: relative;

        .quick-shots-title {
          .qs-title();
          margin-top: -40px;
          font-size: 37px;
          letter-spacing: -1.3px;
          font-weight: 600;

          .quick {
            padding: 10px 18px 17px 10px;
            line-height: 31px;
          }

          .shots {
            padding: 25px 17px 25px 14px;
            line-height: 3px;
            left: 29px;
            top: -26px;
          }
        }

        .quick-shots-title-border {
          .qs-title-border();
          top: 35px;

          @media(@tablet) {
            left: 30px;
          }
        }
      }

      .article-content {
        position: relative;
        border-bottom: 1px solid #dcdcdc;

        h3 {
          .qs-article-title();
        }

        figure {
          .qs-image();
        }

        .quick-shots-content {
          .qs-article-body();
        }
      }

      ul.quick-shots-social-links {
        .qs-social();
      }

    }

    .more-quick-shots-container {
      background-color: #fafafa;
      text-align: center;
      margin-top:20px;
      padding:21px 0;
        margin-bottom: 20px;

      a {
        .mercury-medium-italic;
        font-size: 15px;
        letter-spacing: -0.4px;
        color:@gw-dark-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        i {
          color:@gw-blue;
          font-size: 21px;
          margin-left: 3px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}