/////////////////////////
// qs-content-wrapper
// qs-title
// qs-title-border
// qs-image
// qs-article-title
// qs-article-body
// qs-social
/////////////////////////


// Content Wrapper
.qs-content-wrapper {
  .clearfix();
  margin: 66px auto 0;

  @media(@tablet) {
    padding:0 @desktop-margin;
  }
}

// Gutter - Padding
.qs-gutter {
  padding-left: 15px;
  padding-right: 15px;
}


// Page Header Title
.qs-title {
  @media(max-width: @break-mobile-max) {
    display: inline-block;
  }

  .transition(0.3s);
  .mercury-book-italic;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: -1.3px;
  color:#fff;
  position: relative;
  z-index: 1;
  width: 174px;
  margin-bottom: 14px;
  left: 15px;

  @media(min-width: 1120px) {
    left: -68px;
  }

  span {
    display:inline-block;
    padding:10px 12px;
    position:relative;

    &:before {
      content:"";
      z-index:-1;
      background-color: @gw-red;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform: skewX(-10deg);
    }

    &.shots {
      left: 29px;
      top: -30px;

      &:after {
        content:"";
        background-color: #fff;
        position:absolute;
        top:0;
        right:-6px;
        bottom:0;
        width:6px;
        transform: skewX(-10deg);
      }
    }
  }
}

// Page Header Border
.qs-title-border {
  display: inline-block;
  position: absolute;
  padding-top: 4px;
  left: 10%;
  right: 15px;
  background-color: #000;
}

// Mobile Figure & Img
.qs-image {
  position:relative;
  left:12px;
  display:inline-block;
  height:120px;
  margin-bottom: 20px;

  &:before {
    content:"";
    background-color: #fff;
    position:absolute;
    width: 22px;
    top: 0;
    left: -11px;
    bottom:0;
    transform: skewX(-10deg);
  }

  &:after {
    content:"";
    background-color: #fff;
    position:absolute;
    width:22px;
    top:0;
    right:-11px;
    bottom:0;
    transform: skewX(-10deg);
  }

  img {
    width:auto;
    height:100%;
  }
}

// Article Title
.qs-article-title {
  @media(max-width: @break-mobile-max) {
    line-height: 30px;
  }

  .mercury-medium;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.6px;
  color:@gw-black;
  margin-bottom: 12px;
}

// Article Body
.qs-article-body {
  .helvetica-light;
  font-size: 16px;
  line-height: 23px;
  color:@gw-gray;

  time {
    display:inline;
    .helvetica-light;
    font-size: 16px;
    line-height: 23px;
    color:@gw-red;
      margin-right: 6px;
  }

  p {
    display:inline;

    &:after {
      content:'';
      display:block;
      margin-bottom: 20px;
    }
  }
}

// Social Links
.qs-social {
  @media(max-width: @break-mobile-max) {
    margin-top: 10px;
  }

  margin-top: 40px;
  margin-bottom: 10px;

  li {
    @media(max-width: @break-mobile-max) {
      width: 35px;
      border-right: 0;
    }
    display:inline-block;
    border-right:1px dashed #dcdcdc;

    .social-name {
      @media(max-width: @break-mobile-max) {
        display: none;
      }
    }

    &:first-child {
      a {
        padding-left:0;
      }
    }

    &:last-child{
      border-right: none;
    }

    a {
      @media(max-width: @break-mobile-max) {
        padding-left: 0;
      }

      .helvetica-light;
      font-size: 12px;
      color:@gw-gray;
      text-decoration: none;
      line-height: 24px;
      padding:0 16px 0 12px;

      i {
        font-size: 22px;
        margin-right: 7px;
        position: relative;
          top: 3px;

        &.fa-facebook-square {
          color:#3b5998;
        }

        &.fa-twitter {
          color:#00aced;
        }
      }
    }
  }
}