.page-quick-shots {
  .clearfix;
}

.quick-shots-and-modules {
  .qs-content-wrapper();

  @media(@tablet) {
    max-width: @content-slim;
  }
}

.right-modules {
  @media(max-width: @break-mobile-max) {
    width: 100%;
    padding-left: 0;
  }

  .right-rail-style;
}


.quick-shots-title-and-article-list-container {
  float: left;
  width: ~"calc(100% - 330px)";
  position: relative;
  margin-bottom: 20px;

  @media(max-width: @break-mobile-max) {
    width: 100%;
    border-top: 0;
    .clearfix;
  }

  .quick-shots-title-border {
    .qs-title-border();
    top: 1px;
  }

  h1 {
    .qs-title();
    margin-top: -40px;
    font-size: 37px;
    letter-spacing: -1.3px;
    font-weight: 600;

    .quick {
      padding: 10px 18px 17px 10px;
      line-height: 31px;
    }

    .shots {
      padding: 25px 17px 25px 14px;
      line-height: 3px;
      left: 29px;
      top: -26px;
    }
  }

  .quick-shots-article-list-container {

    .qs-gutter();

    ul {
      li {
        span.position {
          display:inline-block;
          padding:6px 10px;
          position:relative;
          .mercury-bold-italic;
          font-size: 22px;
          letter-spacing: 0.2px;
          color:#fff;
          z-index: 1;
          pointer-events: none;
            margin-bottom: 12px;

          &:before {
            content:"";
            z-index:-1;
            background-color: @gw-yellow;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            transform: skewX(-10deg);
          }
        }

        article {
          position:relative;
          border-bottom:@gw-border-style;
          margin-bottom: 50px;

          &:target:before {
            content:"";
            display:block;
            height:110px; /* fixed header height*/
            margin:-110px 0 0; /* negative fixed header height */
            }

          figure {
            margin-top:-50px;
            .qs-image();
          }

          h3 {
            .qs-article-title();
          }

          .quick-shots-content {
            .qs-article-body();
          }
        }

        ul.quick-shots-social-links {
          .qs-social();
        }
      }
    }
  }
}