.search-container {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 165px;
  background-color: #000000;
  color: @gw-gray;
  z-index: 1000;
  text-align: center;
  margin-top: -171px;
  padding-left: @desktop-margin;
  padding-right: @desktop-margin;
  .transition(0.25s);

  &.search-open {
    margin-top: 0;
  }

  .input-container {
    .clearfix();
    max-width: 1200px;
    margin: 50px auto 0;
    height: 60px;
    border-bottom: 3px solid @gw-gray;
    font-size: 25px;

    .icon-golfweek-icons_searchglass {
      float: left;
      color: #ffffff;
      cursor: pointer;
      height: 60px;
      width: 50px;
      border-bottom: 3px solid #ffffff;
    }

    .icon-golfweek-icons_close {
      float: right;
      color: @gw-red;
      cursor: pointer;
      height: 60px;
      width: 50px;
    }
  }


  input {
    width: ~"calc(100% - 102px)";
    font-size: 18px;
    color: #ffffff;
    vertical-align: top;
    .helvetica-bold;
    border: none;
    background: transparent;
    outline: none;
    padding-bottom: 36px;
  }
}