.site-header {
  &.fixed {

    @media(@tablet) {
      padding-bottom: 50px;

      .search-container {
        position: fixed;
      }

      .expanded {
        display: none
      }

      .condensed {
        display: inline-block;

        a {
          color: @gw-link-white;
          text-decoration: none;
        }

        &.title {
          position: relative;
          .helvetica-bold;
          float: left;
          font-size: 18px;
          letter-spacing: -1px;
          height: 50px;
          line-height: 48px;
          padding-right: 27px;
        }

        &.social {

          > li {
            vertical-align: middle;

            @media(@tablet) {
              display:none;
            }

            @media(@desktop) {
              display:inline-block;
            }
          }
          .social,
          .subscribe {
            font-size: 12px;
          .helvetica-bold;
          }

          .subscribe {
            color: @gw-red;
          }

          .search-toggle {
            display:inline-block;
            position: relative;
            cursor: pointer;
            height: 40px;
            width: 30px;
            font-size: 19px;
            vertical-align: sub;
            top: 16px;
            color: @gw-link-white;

            @media(@desktop) {
              display:inline-block;
              top:0;
              margin-left: 40px;
            }
          }
        }
      }

      .header-row-bottom {
        position: fixed;
        z-index: 5;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 90;
        left: 0;
        background-color: #000;
        height: 50px;

        .menu-main-nav-container {
          > ul {

            > li {
              font-size: 11px;
              padding-right: 3px;
              padding-left: 3px;
              a {
                color: @gw-link-gray;
              }
            }
          }
        }
      }
    }
  }
}

.condensed {
  display: none;
}

