header.site-header {
  position: relative;
  .helvetica-medium;
  margin: 0 auto;
  background-color: #fff;
  z-index: 10;

  @media(@tablet) {
    background-color: #000;
  }

  .header-row-top {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 30px;
    height: 50px;
    padding-right: @mobile-margin;
    padding-left: @mobile-margin;
    box-sizing: border-box;

    @media(@tablet) {
      height: 114px;
      padding-top: 10px;
      padding-right: @desktop-margin;
      padding-left: @desktop-margin;
    }

    h1 {
      .helvetica-bold;
      float: left;
      font-size: 17px;
      letter-spacing: -2px;
      padding-left: 0;


      @media(@tablet) {
        letter-spacing: -4px;
        font-size: 1.5em;
        position: relative;
        top: 22px;
      }

      a {
        text-decoration: none;
        color: @gw-link-white;
        line-height: 50px;

        @media(@tablet) {
          color: @gw-link-white;
          line-height: normal;
        }
      }
    }

    .subscribe-search {
      display: none;

      @media(@tablet) {
        display: inline-block;
        position: relative;
        z-index: 10;
        float: right;
        width: 340px;
        height: 100%;
        text-align: right;
      }

      a {
        color: #ffffff;
      }

      .subscribe-text {
        display: inline-block;
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        vertical-align: middle;
        top: 32px;
        left: 0;

        span {
          display: block;
          text-align: right;
        }

        .subscribe-text-title {
          color: @gw-red;
          .helvetica-bold;
        }
      }

      .subscribe-image {
        position: absolute;
        right: 95px;
        bottom: 0;
      }

      .search-toggle {
        display: none;

        &.expanded {
          display: inline-block;
          position: absolute;
          top: 20px;
          font-size: 16px;
          height: 35px;
          width: 40px;
          margin-top: 5px;
          right: 0;
          text-align: center;
          vertical-align: middle;
          border-bottom: 2px solid white;
        }
      }

      .icon-golfweek-icons_searchglass {
        position: relative;
        cursor: pointer;
        height: 40px;
        width: 40px;
        font-size: 25px;
        vertical-align: middle;
        color: #fff;
      }
    }
  }
}

.nav-curtain {
  width:100%;
  background-color: rgba(0, 0, 0, .5);
  position:absolute;
  top:0;
  bottom:0;
  z-index: 9;
  display: none;

  &.active {
    display:block;
  }
}
