header.site-header {

  &.mobile-expanded {

    .header-row-top {
      background-color: #fff;

      h1 a {
        color: #000;
      }
    }

    .header-row-bottom {
      display: block;
    }

    .mobile-burger {
      display: none;
    }

    .mobile-close {
      display: inline-block;
      cursor: pointer;
    }
  }

  .header-row-top{
    background-color: #000;

    @media(@tablet) {
      background-color: none;
    }
  }

  .mobile-burger {
    display: inline-block;
    cursor: pointer;
  }

  .mobile-close {
    display: none;
  }

  .mobile {
    @media(@tablet) {
      display: none;
    }

    &.nav-toggle {
      color: @gw-red;
      float: left;
      width: 33px;

      span {
        line-height: 50px;
        font-size: 17px;
      }
    }

    &.search-bar {
      position: relative;
      height: 65px;
      border-bottom: @gw-border-style;

      input {
        margin-top: 15px;
        width: 100%;
        height: 31px;
        .helvetica-medium;
        letter-spacing: -0.8px;
        font-size: 15px;
        border-top: 2px solid @gw-light-gray;
        border-bottom: 2px solid @gw-light-gray;
        border-left: 1px solid @gw-light-gray;
        border-right: 1px solid @gw-light-gray;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 17px 0;
      }

      input::-webkit-input-placeholder {
        padding-left: 5px;
      }

      .icon-golfweek-icons_searchglass {
        position: absolute;
        right: 10px;
        top: 23px;
        font-size: 20px;
        color: @gw-link-black;
        pointer-events: none;
      }
    }

    &.subscribe-search {
      margin: 20px auto 0;
      width: 100%;
      height: 104px;
      text-align: center;
      border-bottom: @gw-border-style;
      padding-bottom: 20px;

      a {
        text-decoration: none;
      }

      .subscribe-text {
        display: inline-block;
        width: 120px;
        height: 100%;
        vertical-align: top;
        margin-top: 7.5px;
        text-align: right;

        .subscribe-text-title {
          display: block;
          color: @gw-red;
          line-height: 18px;
          position: relative;
          margin-bottom: 5px;
        }

        .subscribe-text-price {
          .helvetica-light;
          font-size: 16px;
          line-height: 10px;
          line-height: 0;
          color:@gw-black;
        }
      }

      .subscribe-image {
        display: inline-block;
        margin-left: 20px;
        img {
          width: 80px;
          height: auto;
        }
      }
    }
  }
}