header.site-header {

  .header-row-bottom {
    border-top: @gw-border-style;
    display: none;

    @media(@tablet) {
      display: block;
      border-top: 1px solid @gw-gray;
    }

    .inner {
      .clearfix();
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 @mobile-margin;
      box-sizing: border-box;

      @media(@tablet) {
        padding: 0 @desktop-margin;
      }
    }

    nav {
      min-height: 100vh;

      @media(@tablet) {
        margin-left: -8px;
        float: left;
        padding-right: 0;
        padding-left: 0;
        min-height: 100%;
      }

      @media(@desktop) {
        margin-left: -15px;
      }
    }

    .menu-main-nav-container {

      > ul {
        display: block;
        position: relative;

        @media(@tablet) {
          display: inline-block;
          height: 50px;
        }

        > li {
          display: block;
          font-size: 16px;
          height: 100%;
          .transition(0.1s);
          border-bottom: @gw-border-style;

          @media(@tablet) {
            padding-right: 5px;
            padding-left: 5px;
            display: inline-block;
            font-size: 12px;
            border-bottom: none;
            font-weight: 700
          }

          @media(@desktop) {
            font-size: 14px;
            padding-right: 10px;
            padding-left: 10px;
          }

          &.menu-item-has-children {

            > a:after {
              font-family: 'icomoon';
              float: right;
              color: @gw-link-gray;
              line-height: 50px;
              font-size: 12px;
              content: '\e909';

              @media(@tablet) {
                content: normal;
              }
            }

            &.active-open {

              @media(max-width: @break-mobile-max) {
                position:relative;

                > a:after {
                  transform: rotate(90deg);
                  color:@gw-red;
                  left: -4px;
                  position: relative;
                }

                > ul {
                  display: block;
                  position: relative;
                  border-top: @gw-border-style;
                  padding-bottom: 40px;
                  .clearfix();

                  > li {
                    font-size: 16px;
                    width: 50%;
                    padding:@mobile-margin;
                    box-sizing: border-box;
                    margin:0;
                    float:left;

                    &:nth-child(2n + 1) {
                      clear:both;
                    }

                    > a {
                      line-height: 16px;
                      .helvetica-bold;
                      border-bottom: 2px solid @gw-red;
                      display:inline-block;
                      padding-bottom: 6px;
                    }

                    > ul {
                      > li {
                        font-size: 13px;
                        margin-top: 13px;
                        margin-bottom: 13px;

                        > a {
                          .helvetica-roman;
                        }
                      }
                    }
                  }
                }

                .dropdown-trigger {
                  display:block;
                  position:absolute;
                  top:0;
                  right:0;
                  width:50px;
                  height:50px;
                  cursor:pointer;
                }
              }
            }
          }

          a {
            color: @gw-link-black;
            display: block;

            @media(@tablet) {
              color: @gw-link-gray;
            }
          }

          &:hover {
            @media(@tablet) {
              position: relative;
              background-color: @gw-red;

              a {
                color: @gw-link-white;
              }

              > ul {
                display: block;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.44);
                border-radius: 2px;
                top: 50px;
                color: #000;
                padding-top:26px;

                a {
                  color: @gw-gray;
                }

                > li {
                  display: inline-block;
                  margin: 0 30px 24px;

                  > a {
                    .helvetica-bold;
                    display: block;
                    line-height: 18px;
                    font-size:16px;
                    color: #000;
                    position:relative;

                    &:before {
                      content:'';
                      position:absolute;
                      left:-7px;
                      top: 4px;
                      width:2px;
                      height:~"calc(100% - 7px)";
                      background-color: @gw-red;
                    }
                  }
                }
              }
            }
          }

          > ul {
            display: none;
            position: absolute;
            z-index: 10;
            left: 0;
            background-color: #ffffff;
            padding-top: 10px;
            vertical-align: top;

            @media(@tablet) {
              // width:450px;
            }

            .menu-item-has-children {
              font-size: 15px;

              // > a {
              //   .helvetica-bold;
              //   display: inherit;
              //   border-left: 2px solid @gw-red;
              //   line-height: 32px;
              //   color: #000;
              // }
            }

            .sub-menu {
              .helvetica-roman;
              color: @gw-gray;
              
              li {
                margin-top: 10px;
                margin-bottom: 10px;
                //width:100px;

                a {
                  .helvetica-roman;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: -0.1px;
                  color:#565656;
                }
              }
            }

            > li {
              display: inline-block;
              vertical-align: top;
              margin-right: 15px;
              margin-left: 15px;
              width: 110px;
            }
          }

          a {
            line-height: 50px;
            text-decoration: none;
          }
        }
      }
    }

    .social {
      float: right;
      height: 50px;

      &.expanded {
        position: absolute;
        height: 50px;
        top: 0;
        right: 0;
        margin-right: @mobile-margin;

        @media(@tablet) {
          position: inherit;
          margin-right: 0;
        }

        li {
          vertical-align: middle;
          font-size: 18px;

          @media(@tablet) {
            font-size: 16px;
            margin-left: 5px;
          }

          @media(@desktop) {
            margin-left: 13px;
          }
        }

        .social-more span {
          font-size: 12px;

          @media(@tablet) {
            font-size: 13px;
          }
        }
      }

      li {
        display: inline-block;
        font-size: 22px;
        margin-left: 13px;

        a {
          line-height: 50px;
        }

        .social-more {
          font-size: 11px;
          .helvetica-bold;
          line-height: 50px;
          text-decoration: none;

          @media(@tablet) {
            font-size: 12px;
          }

          @media(@desktop) {
            font-size: 14px;
          }
        }
      }

      a {
        color: @gw-link-black;
        font-size: 16px;

        @media(@tablet) {
          color: #A5A5A5;
        }
      }
    }
  }
}