

.container-404{
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	box-sizing: border-box;
	height: 704px;
	padding-top: 80px;

	@media(max-width: @break-mobile-max){
		height: 500px;
	}


	.curtain{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.2);
		display: block;
	}
	
	.content-container-404{
		position: relative;
	    margin: 0 auto;
	    width: 375px;
	    text-align: center;

	    @media(max-width: @break-mobile-max){
	    	width: 275px;
	    }

		.title-404{
			font-size: 64px;
			.helvetica-bold;
			color: #ffffff;
			margin-bottom: 10px;
			@media(max-width: @break-mobile-max){
				font-size: 50px;
			}
		}

		.top-headline-404{
			.helvetica-light;
			font-size: 24px;
			color: #ffffff;
			margin-bottom: 105px;
			@media(max-width: @break-mobile-max){
				font-size: 18px;
			}
		}

		.bottom-headline-404{
			.helvetica-light;
			font-size: 20px;
			color: #cccccc;
			margin-bottom: 20px;
			@media(max-width: @break-mobile-max){
				font-size: 18px;
			}

		}

		a.gw-btn-white {
			display:inline-block;
			text-decoration: none;
			color: @gw-link-white;
			font-size: 18px;
			padding: 10px 24px 10px 14px;

			&:hover{
				color: @gw-link-black;
			}

			&:after {
				top: -3px;
				right: -12px;
			}
		}
	}
}

