/*
Theme Name: Golfweek
Author: Born & Raised
Author URI: http://www.wearebnr.com/
*/

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.transition(@properties; @transform:~"0s") {
	-webkit-transition: @properties ~", -webkit-transform " @transform;
	   -moz-transition: @properties ~", -moz-transform "@transform;
	    -ms-transition: @properties ~", -ms-transform "@transform;
	     -o-transition: @properties ~", -o-transform "@transform;
	        transition: @properties ~", transform "@transform;

}

.transition-delay(@properties) {
	-webkit-transition-delay: @properties;
       -moz-transition-delay: @properties;
         -o-transition-delay: @properties;
            transition-delay: @properties;
}

.transform(@properties) {
	-webkit-transform: @properties;
	   -moz-transform: @properties;
	    -ms-transform: @properties;
	     -o-transform: @properties;
	        transform: @properties;
}

// CSS RESET
html, body {
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
	margin:0;
	font-weight: normal;
}

ul {
	margin:0;
	padding:0;
	list-style-type: none;
}

a {
	.transition(~"color .1s");
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.facebook-share {
	cursor: pointer;
}

@gw-content-bg: #fff;
@gw-black: #1a1a1a;
@gw-gray: #333333;
@gw-red: #f9141e;
@gw-yellow:#d2bc02;
@gw-blue:#006cbf;
@gw-dark-blue:#00001a;
@content-wide:1200px;
@content-slim:970px;
@mobile-margin:15px;
@desktop-margin:30px;
@break-mobile-max:767px;
@break-tablet-max:1023px;
@gw-border-style: 1px solid #dcdcdc;
@gw-heavy-black-bar: 4px solid @gw-black;


// @media querys - min width
@mobile:              ~'min-width: 320px';
@tablet:              ~'min-width: 768px';
@desktop:             ~'min-width: 1024px';

// Color variables
@gw-link-gray:        #a5a5a5;
@gw-link-white:       #ffffff;
@gw-link-black:       #000000;

@gw-light-gray:       #dcdcdc;


.right-rail-style {
	clear: both;

	@media(@tablet) {
		clear: none;
		float:left;
		width:300px;
		padding-left: 30px;
	}
}

figure {
	margin:0;

	img {
		max-width: 100%;
		height:auto;
	}
}

article {

	h1, h2, h3 {
		.mercury-medium;
		color:@gw-black;

		a {
			color:@gw-black;
			text-decoration: none;
			-webkit-transition: color .1s ease-in-out;
			   -moz-transition: color .1s ease-in-out;
			    -ms-transition: color .1s ease-in-out;
			     -o-transition: color .1s ease-in-out;
			        transition: color .1s ease-in-out;

			&:hover {
				color:#676767;
			}
		}
	}

	time {
		.helvetica-light;
		font-size: 10px;
		line-height: 21px;
		color:#666666;

		@media(@tablet) {
			font-size: 11px;
		}
	}

	.byline {
		.helvetica-light;
		font-style: italic;
		font-size: 10px;
		line-height: 21px;
		color:#666666;

		@media(@tablet) {
			font-size: 11px;
		}

		a {
			.helvetica-light;
			font-style: normal;
			font-size: 11px;
			line-height: 21px;
			color:#666666;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	p.summary {
		.helvetica-roman;
		font-size: 14px;
		line-height: 19px;
		color:@gw-gray;

		@media(@tablet) {
			.helvetica-light;
		}
	}
}

// ---------------Button-----------------

.gw-btn-black{
	font-size: 19px;
	background: @gw-link-white;
	padding: 8px 14px 9px 10px;
	border: 2px solid @gw-black;
	color:@gw-black;
	text-decoration: none;
	.helvetica-bold;
	.transition(~".1s");

	&:hover{
		background: @gw-black;
		color: white;
		cursor: pointer;
	}

	&:after {
		content:"\f054";
	    display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    border-radius: 50%;
	    background: @gw-red;
	    padding: 5px;
	    height: 9px;
	    width: 9px;
	    font-size: 9px;
	    color: white;
	    text-align: center;
	    position: relative;
	    top: -4px;
	    right: -6px;
	}
}

.gw-btn-white{
	font-size: 19px;
	padding: 8px 14px 7px 10px;
	border: 1px solid #999999;
	background: none;
	color: white;
	text-decoration: none;
	.helvetica-bold;
	.transition(~".1s");

	&:hover{
		border: 1px solid white;
		background: white;
		color: black;
		cursor: pointer;
	}

	&:after {
		content:"\f054";
	    display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    border-radius: 50%;
	    background: #f9141e;
	    padding: 5px;
	    height: 9px;
	    width: 9px;
	    font-size: 9px;
	    color: white;
	    text-align: center;
	    position: relative;
	    top: -4px;
	    right: -3px;
	}
}


//---------------Prev-Next- Button - Double Arrow----------------------------------//

.article-next-btn{
	a{
		text-transform: uppercase;
	}
}

.more-latest-container{
	a{
		
		font-size: 18px;
		color: #00001a;
		text-decoration: none;
		font-family: "Mercury Display A","Mercury Display B";
		font-style: italic;
		font-weight: 600;
		letter-spacing: 0.1px;
	}

	i{
		position: relative;
		top: 2px;
	}
}

.prev-next-btn-container{
	margin-top: 30px;
	float: right;
	@media(max-width: @break-mobile-max){
		// width: 320px;
		 margin: 30px auto;
		 float: none;
		 .clearfix;
	}

	.line{
		width: 50px;
		height: 0px;
		border-bottom: 1px solid #d2d2d2;
		-ms-transform: rotate(-74deg); /* IE 9 */
		-webkit-transform: rotate(-74deg); /* Chrome, Safari, Opera */
		transform: rotate(-74deg);
		position: relative;
		top: -5px;
		left: 0px;
		display: inline-block;
		margin: 0 10px;
		@media(max-width: @break-mobile-max){
			margin: 0 -5px;
			display: none;
		}
	}


	.article-prev-btn{
		@media(max-width: @break-mobile-max){
			float: left;
		}
	}

	.article-next-btn{
		@media(max-width: @break-mobile-max){
			float: right;
		}
	}


	.article-prev-btn, .article-next-btn{
		a{
			text-transform: uppercase;
			margin-top: 30px;
			font-size: 18px;
			color: #00001a;
			text-decoration: none;
			font-family: "Mercury Display A","Mercury Display B";
			font-style: italic;
			font-weight: 600;
			letter-spacing: 0.1px;
		}

		.fa{
			font-size: 24px;
			position: relative;
			top: 2px;
			color: #006cbf;
		}

		.fa-angle-double-right{
			margin-left: 2px;
		}
		.fa-angle-double-left{
			margin-right: 2px;
		}
	}
}

//gallery/video btn overlays
figure{
	position: relative;
	
	.media-btn-gallery{
		position: absolute;
		width: 75px;
		height: 40px;
		right: 15px;
		bottom: 15px;
		background-color: @gw-black;
		border: 1px solid #b8b8b8;

		@media(max-width: @break-mobile-max){	
			width: 37.5px;
			height: 20px;
			right: 6px;
			bottom: 10px;	
		}

		.fa{
			position: relative;
			color: @gw-link-white;
			font-size: 16px;
			left: 12px;
			top: 12px;

			@media(max-width: @break-mobile-max){	
				font-size: 7px;
				left: 8px;
				top: -1px;

			}
		}

		span{
			position: relative;
		    color: @gw-link-white;
		    .helvetica-roman;
		    left: 22px;
		    bottom: -11px;
		    font-size: 16px;

		    @media(max-width: @break-mobile-max){	
		    	left: 11px;
		    	bottom: 1.5px;
		    	font-size: 7px;

		    }
		}
	}

	.media-btn{
		right: 15px;
		bottom: 17px;
		position: absolute;
		width: 45px;
		height: 45px;
		background-color: @gw-black;
		border: 1px solid #b8b8b8;

		@media(max-width: @break-mobile-max){	
			width: 22.5px;
			height: 22.5px;
			right: 6px;
			bottom: 10px;

		}

		i{
			position: relative;
			left:13px;
			top: 14px;
			color: @gw-link-white;

			@media(max-width: @break-mobile-max){	
				left: 7.5px;
				top: 0px;
				font-size: 7px;

			}
		}
	}
}

// article list more pages top border

main.article-list{
	.container-for-latest{
		border-top: 4px solid @gw-black;
		padding-top: 15px;
	}
}


//article list on media pages
main.layout-media{
	.clearfix;

	.container-for-latest{
		.title-and-article-list-container{
			width:~"calc(100% - 330px)";
			float: left;
		}
		.category-title-container{
			h1.category-title{
				.helvetica-medium;
				font-size: 36px;
				color: @gw-red;
			}
		}
	}
}

#content {
  position:relative;
}





