.gw-ad__inner {
  margin: 0px auto;
  text-align: center;
}

.gw-ad.leaderboard {
  min-height: 50px;
  padding: 4px 0px;

  @media (@tablet) {
    min-height: 90px;
    padding: 20px 0px;
  }

  &[data-slot="gw_leaderboard-bottom"] {
  	background-color: #fafafa;
  }
}

.gw-ad.skin {
  display: none;
  position: fixed;
  top: 0px;
  left: 50%;
  width: 2200px;
  height: 1100px;
  margin-left: -1100px;
}

.gw-ad.rail {
    background-color: #FAFAFA;
    width: 100%;
    padding: 20px 0px;

    @media(@tablet) {
        padding:0;
    }
}

/* class is on <body> element by default and is removed if no skin is served */
.with-skin {
  #content {
    position: relative;
    z-index: 3;
    max-width: @content-wide;
    background-color: @gw-content-bg;
    margin: 0px auto;
  }

  .gw-ad.skin {
    display: block;
    z-index: 2;
  }
}