main.article-list{
	max-width: @content-wide;
	margin: 0 auto;
	box-sizing: border-box;
	.clearfix;

	@media(@tablet) {
		padding: 0 @desktop-margin;
	}

	hr{
		height: 4px;
		background-color: @gw-black;
		border: none;
		margin-bottom: 20px;
	}

	.category-title-container{
		border-top: none;
		padding: 0 0 20px 0;

		.category-title{
			.helvetica-medium;
			font-size: 36px;
			color: @gw-red;
		}

	}

	.title-and-article-list-container {
		padding:0 @mobile-margin;
	
		@media(@tablet) {
			width: ~"calc(100% - 330px)";
			margin-bottom: 30px;
			float: left;
			padding:0
		}
	}
	.right-modules{
		.right-rail-style;
	}
}