main.single-post {
	max-width: @content-slim;
	margin:0 auto;
	position:relative;

	@media(@tablet) {
		padding:0 @desktop-margin;
	}

	> article {
		position:relative;

		&:before {
			content:"";
			height: 4px;
			width:100%;
			background-color: @gw-black;
			position:absolute;
		}

		.content {
			.clearfix;

			header {
				border-bottom: @gw-border-style;
			    margin-bottom: 30px;

			    @media(max-width: @break-mobile-max) {
					padding: 0 15px;
					border-bottom: none;
					margin-bottom: 0;

				}

				h4 {
					.helvetica-bold;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: 0.1px;
					color:@gw-red;
					padding:20px 0 14px;

				    @media(max-width: @break-mobile-max) {
						padding: 21px 0 5px;
					}

					a {
						color:@gw-red;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				h1 {
					font-size: 23px;	
					.mercury-bold;
					color:@gw-black;
					margin-bottom: 20px;

				    @media(max-width: @break-mobile-max) {
						font-size: 30px;
						line-height: 32px;
						margin-bottom: 15px;
					}
					
					@media (@tablet){
						letter-spacing: -0.8px;
						line-height: 43px;	
						font-size: 39px;				
					}
				}

				.byline-and-date {
					margin-bottom: 14px;
					height: 30px;
					.clearfix;

					.author-credit{
						float: left
						.clearfix;

						.author-bio-pic{
							display: none;

							@media(@tablet){
								display: block;
								background-repeat: no-repeat;
								background-position: 50% 50%;
								border-radius: 50%;
								width: 35px;
								height: 35px;
								background-size: cover;
								float: left;
								margin-bottom: 20px;
								margin-right: 15px;
								position: relative;
								top: -8px;
								border: 1px solid #dcdcdc;
							}

						}

						.author-popover{
							float: left;
							margin-bottom: 10px;
							position: relative;
							clear: both;

							@media(@tablet){
								clear: none;
								margin-right: 30px;
								
							}

							ul{
								width: 170%;
								position: absolute;
								display: none;
								top: -15px;
								left: -0px;
								background: #9a0000;
								margin-right: 15px;
								padding: 15px 20px;

								.author-name{
									margin-bottom: 5px;
									padding-bottom: 7px;
									border-bottom: 1px solid #db7474;
									color: @gw-link-white;
									font-size: 14px;
									.helvetica-medium;

									i{
										// display: inline;
									}
								}
							}
							.by{
								font-size: 14px;
								.helvetica-roman;
							}

							a.name-link{
								text-decoration: none;
								

								.name{
									// position: relative;
									font-size: 14px;
									.helvetica-medium;
									color: #9a0000;
								}
							}
						

							i {
								color: @gw-link-white;
								font-size: 16px;
								background-color: #9a0000;
								padding: 0px 5px;
							}
						}
						.author-popover:hover{
							z-index: 10;
							float: left;
							cursor: pointer;
										
							.author-contact-container{
								display: block;
								a{
									text-decoration: none;
								}

								.author-contact-links{
									position: relative;
									left: -5px;
									padding: 7.5px 0;

									i{
										margin-right: 5px;
										font-size: 16px;
									}

									.fa-envelope{
										font-size: 14px;
									}
									a{
										text-decoration: none;
										color: @gw-link-white;
										font-size: 13px;
										.helvetica-medium;
									}	
								}
							}
						}

						.author-popover:hover + time{
							
						}
						time{
							float: right;
							.helvetica-light;
							font-size: 12px;
							color: @gw-gray;
							
							@media (@tablet){
								float: left;			
							}

						}
					}
				}
			}

			.article-body {
				clear:both;
				width: 100%;
				position:relative;
				padding:0 @mobile-margin;
				box-sizing: border-box;

				@media (@tablet){
					float:left;
					width:~"calc(100% - 330px)";	
					padding:0;	
				}

				ul.share-article-top {
					display:inline-block;
					padding:0;
					margin-bottom: 2px;

					@media(@tablet) {
						position:absolute;
						left:-95px;
					    top: -31px;
					}

					li {
						display:inline-block;

						@media(@tablet) {
							padding:13px 8px 17px;
							border-top: 1px dotted #dcdcdc;
							display:block;
						}

						&:before {
							display:none;
						}

						a {
							.helvetica-light;
							color:@gw-gray;
							font-size: 12px;
							letter-spacing: 0.05px;
							text-decoration:none;
							padding:10px 4px;
							display:inline-block;

							@media(@tablet) {
								padding: 0;
								display:inline;
							}

							span {
								display:none;

								@media(@tablet) {
									display:inline;
								}
							}

							i {
								font-size: 22px;
								position:relative;
								top:4px;
								margin-right: 5px;
							}

							&.link-facebook {
								i {
									color:#3b5998;
								}
							}

							&.link-twitter {
								i {
									color:#00aced;
								}
							}

							&.link-email {
								i {
									color:#474747;
								}
							}

							&.link-print {
								display:none;

								@media(@tablet) {
									display:inline-block;
								}

								i {
									color:#666666;
								}
							}
						}
					}
				}

				.article-notes{
					font-size: 13px;
					.helvetica-light;
					color: #666666;
					margin-bottom: 30px;
				}


				figure.article-hero {
					margin-bottom:14px;
					margin-left: -15px;
					width:~"calc(100% + 30px)"; 


					
					@media (@tablet){
						width: 100%;
						margin-left: 0;			
					}

					img {
						width:100%;
					}

					figcaption {
						display:block;
						padding:8px 0;
						text-align: right;
						.helvetica-light;
						font-size: 11px;
						line-height: 14px;
						color:#666666;
						border-bottom: @gw-border-style;
						margin: 0 15px;

						@media(max-width: @break-mobile-max) {
							margin: 0 18px;
							padding-bottom: 15px;
						}

						@media (@tablet){
							margin: 0;
						}
					}
				}

				div.dropcap{
					p:first-of-type:first-letter {
						float: left;
						font-size: 84px;
						line-height: 60px;
						padding-top: 4px;
						padding-right: 3px;
						padding-left: 3px;
						margin-right: 5px;
						.mercury-bold-italic;
					}
					
				}

				p {
					.helvetica-light;
					font-size: 16px;
					line-height: 23px;
					color:@gw-gray;
					margin-bottom: 25px;

					a {
						.helvetica-medium;
						text-decoration: none;
						color: @gw-blue;

						&:hover {
							text-decoration: underline;
						}
					}

					b {
						.helvetica-bold;
					}
				}

				hr {
					border-top:@gw-border-style;
					margin-bottom: 14px;
				}

				h2 {
					.helvetica-bold;
					font-size: 24px;
					line-height: 28px;
					color:@gw-gray;
					margin-bottom: 16px;
				}

				blockquote{
					background-color: #ebebeb;
					border-left: 3px solid @gw-red;
					margin: 0;
					padding: 10px 21% 10px 30px;
					margin-bottom: 15px;

					@media(max-width: @break-mobile-max) {
						padding: 10px 30px 10px 30px;
					}

					p{
						margin-bottom: 0;
					}

					p:first-of-type:first-letter{
						.helvetica-light !important;
						font-size: 16px !important;
						line-height: 23px !important;
						color:@gw-gray !important;
						float: none !important;
						padding: 0 !important;
						font-style: normal !important;
						margin-right: 0 !important;
					}

				}

				blockquote.pull-quote {
					border-left: none;
					background-color: transparent;
					.mercury-book-italic;
					font-size: 32px;
					line-height: 33px;
					letter-spacing: -1.55px;
					color:@gw-gray;
					text-transform: uppercase;
					position:relative;
					margin:10px 0 53px -46px;

					@media(max-width:1119px) {
						margin-left: 0;
					}

					@media(max-width: @break-mobile-max) {
						margin: 10px auto 50px auto;
						width: auto;
						font-size: 30px;
					}

					&:after {
						content:'';
						display:block;
						width:90px;
						height:6px;
						background-color: @gw-red;
						position:relative;
						top:12px;
					}

					.quote {
						position:relative;

						&:before {
							content:'\201C';
							display:inline;
							position:absolute;
							left:-20px;
						}

						&:after {
							content:'\201D';
							display:inline;
							position:relative;
							right:-3px;
						}
					}
				}

				article.gallery-preview {
				    margin-left: -60px;
			        margin-bottom: 32px;
			        width:~"calc(100% + 60px)";

			        @media(max-width:1119px) {
			        	margin-left: 0;
			        	width: 100%;
			        }

                    @media (max-width: @break-mobile-max){
                    	margin-left: -15px;
                     	width:~"calc(100% + 30px)";
                    }

				    a {
				    	figure {
				    		position:relative;
				    		overflow: hidden;

				    		&:hover {
				    			img {
				    				.transform(~"scale(1.05)");
				    			}
				    		}

				    		img {
				    			display:block;
				    			.transition(~"0s", ~".2s");
				    		}

				    		.curtain {
				    			background-color: rgba(0, 0, 0, 0.2);
				    			position:absolute;
				    			top:0;
				    			right:0;
				    			bottom:0;
				    			left:0;
				    		}

				    		h3 {
				    			color:#fff;
				    			text-decoration: none;
				    			position:absolute;
				    			bottom:30px;
				    			left:28px;
				    			.mercury-medium;
				    			font-size: 22px;
				    			line-height: 28px;
				    			letter-spacing: -0.8px;
				    			width:~"calc(100% - 250px)";
				    			@media (max-width: @break-mobile-max){
				    			 	width:~"calc(100% - 140px)";
				    			 }
				    		}

				    		.view-gallery-button {
				    			background-color: #141414;
				    			border:1px solid #fff;
				    			position:absolute;
				    			bottom:30px;
				    			right:30px;
				    			.helvetica-light;
				    			font-size: 18px;
				    			line-height: 21px;
				    			letter-spacing: 0.05px;
				    			color:#fff;
				    			padding:11px 12px;

				    			span{
				    				@media (max-width: @break-mobile-max){
				    					display: none;
				    				}
				    			}

				    			i {
				    				font-size: 14px;
				    				margin: 0 5px;
				    			}
				    		}
				    	}
				    }
				}

				aside.related-coverage {
					float:left;
					width: 280px;
					padding-right: 24px;

					@media(max-width: 900px){
						border-bottom: 1px solid #dcdcdc;
					    width: 100%;
					    border-top: 1px solid #dcdcdc;
					    padding: 25px 0;
					    margin: 25px 0;
					}

					h4 {
						.helvetica-medium;
						font-size: 12px;
						line-height: 16px;
						letter-spacing: -0.05px;
						color:@gw-red;
						text-transform: uppercase;
						margin-bottom: 10px;
					}

					ul {
						padding-left:16px;

						@media(max-width: 900px){
						margin-bottom: 0
						}

						li {
							position:relative;
							margin-bottom: 8px;

							&:before {
								content:'';
								position:absolute;
								left: -13px;
								top: 7px;
								width:4px;
								height:4px;
								background-color: @gw-black;
								.transform(~"rotate(45deg)");
							}

							article {
								h3 {
									.mercury-medium;
									font-size: 14px;
									line-height: 21px;
									letter-spacing: -0.8px;
									color:@gw-gray;
								}
							}
						}
					}
				}

				.video-container{
					margin-left: -60px;
		        	margin-bottom: 32px;
					width: 100%;
					height: 0;
					padding-bottom: 56.25%;
					position: relative;

			        @media(max-width:1119px) {
						margin-left: 0;
						width: 100%;
					}

		            @media (max-width: @break-mobile-max){
		            	margin-left: -15px;
		             	width:~"calc(100% + 30px)";
		            }

					iframe{
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0; top: 0;
					}
				}

				.ad-in-article {
				    margin-bottom: 20px;

				    @media(max-width:@break-mobile-max) {
				    	padding-bottom: 10px;
				    }

			        &.float-in-article {
						float:left;
					    margin-right: 20px;
				        margin-top: 4px;

				        @media(max-width:929px) and (min-width:768px) {
							width:100%;
							float:none;
				        }

				        @media(max-width:599px) {
				        	width:100%;
				        	float:none;
				        	padding-top: 10px;
			        	    padding-bottom: 10px;
			        	    margin-right: 0;
				        }

				        @media(max-width:329px) {
							width:100vw;
				        	margin-left: -15px;
				        }
			        }

				}

				> figure, p > img {
					
			        margin-left: -60px;
			        width:~"calc(100% + 60px)";
			        height:auto;

			        @media(max-width:1119px) {
						margin-left: 0;
						width: 100%;
					}

		            @media (max-width: @break-mobile-max){
		            	margin-left: -15px;
		             	width:~"calc(100% + 30px)";
		            }

			        img {
			        	width:100%;
			        	margin-bottom:0px;

	                    @media (@tablet){
	        			   
	        		       
	                    }	
			        }

			        figcaption {
			        	display:block;
			        	padding:8px 0;
			        	text-align: right;
			        	.helvetica-light;
			        	font-size: 11px;
			        	line-height: 14px;
			        	color:#666666;
			        	margin: 0 18px;

			        	@media (@tablet){
			        		margin: 0;
			        	}
			        }
				}

				ul {
				    padding-left: 45px;
				    margin-bottom: 32px;

					li {
						.helvetica-medium;
						font-size: 16px;
						line-height: 25px;
						color:@gw-gray;
						position:relative;

						&:before {
							content: "\f054";
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
						    font-size: 11px;
							text-rendering: auto;
							position:absolute;
						    left: -23px;
						    top:8px;
						}
					}
				}

				ul.share-button-container {
					clear: both;
					padding:40px 0;
					.clearfix;
					border-top:@gw-border-style;
					border-bottom:@gw-border-style;

					li {
						width: 100%;
						margin-bottom: 10px;
						
						@media(@tablet){
							margin-bottom: 0px;
							display:inline-block;
							width:32%;
							margin-right: 2%;
							float:left;
						}

						&:last-child {
							margin-right: 0;
						}

						&:before {
							content: none;
							display: none;
							position:static;
						}

						a {
							display:block;
							color:#fff;
							text-align: center;
							text-decoration: none;
							position:relative;
							.helvetica-medium;
							font-size: 16px;
							line-height: 40px;
							letter-spacing: -0.2px;

							&.link-facebook {
								background-color: #3b5998;
							}

							&.link-twitter {
								background-color: #00aced;
							}

							&.link-email {
								background-color: #474747;
							}

							i {
								position: absolute;
								left: 13px;
								font-size: 23px;
								line-height: 40px;
							}
						}
					}
				}

				.related-topics {
					margin-bottom: 30px;

					h5 {
						.helvetica-medium;
						font-size: 14px;
						line-height: 16px;
						letter-spacing: -0.05;
						color:@gw-red;
						display: block;
						margin-bottom: 20px;
						margin-right: 14px;

						@media(@tablet){
							margin-bottom: 0;
							display:inline-block;
						}
						

					}

					a {
						display:inline-block;
						.helvetica-medium;
						font-size: 14px;
						line-height: 16px;
						letter-spacing: -0.05;
						color:#666666;
						border-bottom: 1px solid #c5c5c5;
						text-decoration: none;
						margin-right: 14px;
						margin-bottom: 10px;

						&:hover {
							color:#000;
							border-bottom: 1px solid #000
						}
					}
				}
			}

			.right-modules {
				.right-rail-style;
			}
		}
	}

}

.more-from-this-category-container {
	.clearfix;
	background-color: #fafafa;
	padding: 18px 15px;
	margin-bottom: 20px;

	@media(@tablet){
		padding: 18px 0px 50px 0;
	}


	.more-from-this-category-inner {
		max-width: @content-slim;
		margin:0 auto;

		.section-title-container {
			.clearfix;
			margin-bottom:20px;

			h5 {
				max-width: 85%;
				a{
					text-decoration: none;
					.helvetica-bold;
					font-size: 18px;
					letter-spacing: 0.05px;
					color:@gw-red;
					float:left;
				}

			}

			> a {
				float:right;
				font-size: 20px;
				line-height: 20px;
				color:@gw-blue;
			}
		}


		article {
			.clearfix;
			width: 100%;
			display: block;
			margin-bottom: 15px;
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 15px;

			@media(@tablet){
				width:23.3%;
				float:left;
				margin-right: 2.26%;
				margin-bottom: 0px;
				border: none;
				padding-bottom: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			figure {
				float: right;
				width: 35%;
				margin-left: 10px;

				@media(@tablet){
					width: 100%;
					display: block;
					
				}
			}

			h3 {
				
				display: inline;
				.mercury-medium;
				font-size: 18px;
				line-height: 24px;
				letter-spacing: -0.5px;
				color:@gw-black;
			}
			time{
				display: block
			}
		}
		article:last-child{
			border-bottom: none;
		}
	}
}

.comments-outer-container {
	max-width: @content-slim;
	margin:0 auto 40px;
	padding: 0 15px;

	@media(@tablet){
		padding: 0;
	}


	.comments-container {
		width: 100%;	
		border-top: 4px solid @gw-black;

		@media(@tablet){
			width:~"calc(100% - 330px)";
		}

		&.open {
			.comments-header {
				.show-hide-button {
					.show-button {
						display:none;
					}

					.hide-button {
						display:inline;
					}
				}
			}

			.facebook-comments-container {
				max-height:5000px;
			}
		}

		.comments-header {
			.clearfix;
			padding:16px 0;

			h6 {
				.mercury-medium-italic;
				font-size: 20px;
				letter-spacing: -0.08px;
				color:@gw-gray;
				float:left;
			}

			.show-hide-button {
				float:right;
				.helvetica-bold;
				font-size: 18px;
				color:@gw-black;
				cursor: pointer;

				.show-button {

				}

				.hide-button {
					display:none;
				}

				i {
					color:@gw-red;
					font-weight: normal;
				}
			}
		}

		.facebook-comments-container {
			max-height:0;
			overflow:hidden;
			-webkit-transition: max-height .25s ease-in-out;
			   -moz-transition: max-height .25s ease-in-out;
			    -ms-transition: max-height .25s ease-in-out;
			     -o-transition: max-height .25s ease-in-out;
			        transition: max-height .25s ease-in-out;
		}
	}
}