.layout-content-with-modules{
	margin: 0 auto 30px auto;
	padding: 15px 0 0px;
	max-width: @content-wide;
	.clearfix;
	box-sizing: border-box;
	position: relative;

	@media(@tablet) {
		padding: 15px @desktop-margin 0px;
	}

	&:before {
		content:'';
		width:~"calc(100% - 30px)";
		height:4px;
		background-color: @gw-black;
		position:absolute;
		top:0;
		left:@mobile-margin;;

		@media(@tablet) {
			width:~"calc(100% - 60px)";
			left:auto;
			top:-10px;
		}
	}

	&.page-leaderboard {
		padding: 15px 15px 0px 15px;

		@media(@tablet) {
			padding: 15px 0px 0px 0px;
		}

	}

	section.content-and-title-container{
		width: 100%;
		@media(@tablet){
			width: ~"calc(100% - 330px)";
			float: left;
		}

		div.content-with-modules-title-container{
			margin-bottom: 30px;
			padding: 0 @mobile-margin 20px;
			border-bottom: 1px solid #dcdcdc;

			@media(@tablet) {
				padding: 0 0 20px;
			}

			h1.content-with-modules-title{
				color: @gw-red;
				font-size: 36px;
				.helvetica-medium;
			}
		}

		div.content-container{
			margin-bottom: 30px;

			p{
				iframe{
					width: 100%;
					height: 400px;
					border: @gw-border-style;
					box-sizing: border-box;

					@media(@tablet){
						height: 600px;
					}
				}
			}
		}
	}

	section.right-modules{
		float: left;
		.clearfix;
	}

}