@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?5djkay');
    src:    url('fonts/icomoon.eot?5djkay#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?5djkay') format('truetype'),
        url('fonts/icomoon.woff?5djkay') format('woff'),
        url('fonts/icomoon.svg?5djkay#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-golfweek-icons_chev-a-ron:before {
    content: "\e909";
}
.icon-golfweek-icons_mobilemenu:before {
    content: "\e90a";
}
.icon-golfweek-icons_bnr:before {
    content: "\e900";
}
.icon-golfweek-icons_close:before {
    content: "\e901";
}
.icon-golfweek-icons_gallery:before {
    content: "\e902";
}
.icon-golfweek-icons_Golfweeklogo:before {
    content: "\e903";
}
.icon-golfweek-icons_inbox:before {
    content: "\e904";
}
.icon-golfweek-icons_photos:before {
    content: "\e905";
}
.icon-golfweek-icons_play:before {
    content: "\e906";
}
.icon-golfweek-icons_searchglass:before {
    content: "\e907";
}
.icon-golfweek-icons_videos:before {
    content: "\e908";
}