/**
 * @license
 * MyFonts Webfont Build ID 3186858, 2016-03-15T11:29:54-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: HelveticaNeueLTStd-Lt by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-45-light/
 *
 * Webfont: HelveticaNeueLTStd-Bd by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-75-bold/
 *
 * Webfont: HelveticaNeueLTStd-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-55-roman/
 *
 * Webfont: HelveticaNeueLTStd-Th by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-35-thin/
 *
 * Webfont: HelveticaNeueLTStd-Md by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-65-medium/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3186858
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1988, 1990, 1993, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/30a0aa");
// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('fonts/30A0AA_0_0.eot');
//   src: url('fonts/30A0AA_0_0.eot?#iefix') format('embedded-opentype'),
//   url('fonts/30A0AA_0_0.woff2') format('woff2'),
//   url('fonts/30A0AA_0_0.woff') format('woff'),
//   url('fonts/30A0AA_0_0.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('fonts/30A0AA_1_0.eot');
//   src: url('fonts/30A0AA_1_0.eot?#iefix') format('embedded-opentype'),
//   url('fonts/30A0AA_1_0.woff2') format('woff2'),
//   url('fonts/30A0AA_1_0.woff') format('woff'),
//   url('fonts/30A0AA_1_0.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 600;
// }
// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('fonts/30A0AA_2_0.eot');
//   src: url('fonts/30A0AA_2_0.eot?#iefix') format('embedded-opentype'),
//   url('fonts/30A0AA_2_0.woff2') format('woff2'),
//   url('fonts/30A0AA_2_0.woff') format('woff'),
//   url('fonts/30A0AA_2_0.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('fonts/30A0AA_3_0.eot');
//   src: url('fonts/30A0AA_3_0.eot?#iefix') format('embedded-opentype'),
//   url('fonts/30A0AA_3_0.woff2') format('woff2'),
//   url('fonts/30A0AA_3_0.woff') format('woff'),
//   url('fonts/30A0AA_3_0.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 200;
// }
// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('fonts/30A0AA_4_0.eot');
//   src: url('fonts/30A0AA_4_0.eot?#iefix') format('embedded-opentype'),
//   url('fonts/30A0AA_4_0.woff2') format('woff2'),
//   url('fonts/30A0AA_4_0.woff') format('woff'),
//   url('fonts/30A0AA_4_0.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 500;
// }

.helvetica-bold {
  font-family: 'HelveticaNeue', 'Helvetica', arial, sans-serif;
  font-weight: 600;
}

.helvetica-medium {
  font-family: 'HelveticaNeue', 'Helvetica', arial, sans-serif;
  font-weight: 500;
}

.helvetica-roman {
  font-family: 'HelveticaNeue', 'Helvetica', arial, sans-serif;
  font-weight: 400;
}

.helvetica-light {
  font-family: 'HelveticaNeue', 'Helvetica', arial, sans-serif;
  font-weight: 300;
}

.helvetica-thin {
  font-family: 'HelveticaNeue', 'Helvetica', arial, sans-serif;
  font-weight: 200;
}

@import url("//cloud.typography.com/7621114/7967552/css/fonts.css");
.mercury-book {
  font-family: "Mercury Display A", "Mercury Display B", Georgia, Times, serif;
  font-style: normal;
  font-weight: 400;
}

.mercury-book-italic {
  font-family: "Mercury Display A", "Mercury Display B", Georgia, Times, serif;
  font-style: italic;
  font-weight: 400;
}

.mercury-medium {
  font-family: "Mercury Display A", "Mercury Display B", Georgia, Times, serif;
  font-style: normal;
  font-weight: 700; // wanted to make all medium instances bold
}

.mercury-medium-italic {
  font-family: "Mercury Display A", "Mercury Display B", Georgia, Times, serif;
  font-style: italic;
  font-weight: 700; // wanted to make all medium instances bold
}

.mercury-bold {
  font-family: "Mercury Display A", "Mercury Display B", Georgia, Times, serif;
  font-style: normal;
  font-weight: 700;
}

.mercury-bold-italic {
  font-family: "Mercury Display A", "Mercury Display B", Georgia, Times, serif;
  font-style: italic;
  font-weight: 700;
}