footer {
	background-color: #000;
	color: #999999;
	a{
		color: #999999;
		text-decoration: none;
	}

	a:hover{
		color: #ffffff;
	}

	.footer-container{
		background: #000000;
		border-bottom: 1px solid @gw-gray;

		.footer-fa{
			color: #ffffff;
			font-size: 17px;
		}

	    .footer-bottom-container {
		    padding: 0px @mobile-margin;
		    max-width: @content-wide;
		    margin: 0 auto;
		    box-sizing: border-box;
		    .clearfix;

		    @media(@tablet) {
				padding: 0px @desktop-margin;
		    }

		    .footer-dev-credit {
		        float: right;

		        @media(max-width: @break-mobile-max) {
		            width: 105px;
		            margin-right: 6px;
		        }
		    }

			nav{
				.clearfix;
				padding: 25px 0;

				@media(max-width: @break-mobile-max){
					padding-bottom: 0px;
				}

				.menu-footer-nav-container {
					width: ~"calc(100% - 220px)";
					float: left;
					.clearfix;

					@media(max-width: @break-mobile-max){
						width: 50%;
					}
				}

				a{
					font-size: 14px;
					.helvetica-medium;
					margin-right: 35px;
					margin-bottom: 10px;
					float: left;

					@media(max-width: 881px){
						margin-right: 16px;
					}

					@media(max-width: @break-mobile-max){
						padding-bottom: 25px;
						float: none;
						display: block;
					}
				}
				ul{
					

				}


				.footer-dev-credit{
					a{
						.helvetica-roman;
						font-size: 11px;

						span{
							position: relative;
							top: -10px;

							@media(max-width: @break-mobile-max){
								display: block;
								margin-top: 10px;
								left: 5px;
							}

							br{
								display: none;

								@media(max-width: @break-mobile-max){
									display: block;
								}
							}
						}
					}
				}
			}

			.footer-social-and-apps{
				float: left;
				padding-bottom: 80px;
				font-size: 14px;
				.helvetica-medium;

				@media(max-width: @break-mobile-max){
					width: 100%;
					padding-bottom: 70px;
				}

				.footer-social{
					margin-right: 25px;

					@media(max-width: @break-mobile-max){
						margin-bottom: 0px;
						.clearfix;
					}
					.footer-fa{
						@media(max-width: @break-mobile-max){
							font-size: 20px;
							margin-right: 7px;
						}
					}
				}

				.footer-apps{
					a{
						margin-right: 25px !important;

						@media(max-width: @break-mobile-max){
							font-size: 11px;
						}
					}
					.footer-fa{
						margin-right: 5px;
					}
				}

				.footer-social, .footer-apps{
					display: inline-block;
					span{
						margin-right: 25px;

						@media(max-width: @break-mobile-max){
							display: block;
							margin-bottom: 12px;
							margin-top: 11px;
							font-size: 11px;
						}
					}

					a{
						margin-right: 10px;
					}
				}

				hr{
					display: none;
					border: none;
					height: 1px;
					background-color: #333; 
					margin: 0 -20px;

					@media(max-width: @break-mobile-max){
						display: block;
						margin:0 -@mobile-margin;
					}

				}
			}	
		}
		
		.footer-top-container{
			border-bottom: 1px solid @gw-gray;
			.helvetica-roman;
			.clearfix;

			.footer-top{
				font-size: 11px;
				color: #666666;
				max-width: @content-wide;
				margin: 0 auto;
				padding: 0 @desktop-margin;
				.clearfix;
				box-sizing: border-box;

				@media(max-width: @break-mobile-max){
					position: relative;
					padding: 0 @mobile-margin;
				}
				img{
					padding-top: 17px;
					float: left;
					margin-right: 25px;

					@media(max-width: @break-mobile-max){
						width: 83px;
					}
				}
				.footer-copyright{
					float: left;
					padding: 30px 0px;

					@media(max-width: @break-mobile-max){
						width: 125px;
						float: left;
						clear: both;
						padding: 9px 0px 20px 0;
						line-height: 1.7;
					}
				}

				.footer-top-right{
					float: right;
					color: #999999;
					.clearfix;

					@media(max-width: @break-mobile-max){
						position: absolute;
						top: -2px;
						right: 24px;
					}
					img{
						margin-right: 15px;
						padding-top: 12px;
						@media(max-width: @break-mobile-max){
							width: 60px;
						}
					}

					img, div {
						display: inline-block;
						@media(max-width: @break-mobile-max){
							display: block;
						}
					}

					div{
						padding: 25px 0px;
						@media(max-width: @break-mobile-max){
							clear: both;
							padding: 5px 0 0 0;
						}

					}
				}
			}
		}
	}
}