.page-home {
	.hero-container {
		max-width: @content-wide;
		margin:0 auto;
		.clearfix;
		box-sizing: border-box;

		@media(@tablet) {
			padding: 0 @desktop-margin;
			margin-bottom: 30px;
		}

		.feature-and-banner-container {

			@media(@tablet) {
				float:left;
				width:~"calc(100% - 330px)";
				padding-right:30px;
				box-sizing: border-box;
				border-right:@gw-border-style;
			}

			.featured-banner {
				background-color: #f5f4f4;
			    padding: 0px 180px 0px 20px;
			    .clearfix;
		        margin-bottom: 0;
		        position: relative;
		        height: 42px;
		        line-height: 42px;
		        display: table;
		        width:~"calc(100% - 200px)";

		        @media(@tablet) {
		        	padding: 20px 180px 20px 20px;
		        	margin-bottom: 19px;
		        }

				.featured-banner-label {
					display: none;
					margin-right: 12px;
					
					@media(min-width: 901px){
						display: inline-block;
						.helvetica-bold;
						font-size: 12px;
						line-height: 15px;
						letter-spacing: -0.05px;
						color:@gw-red;
						vertical-align: middle;
						line-height: normal;
					}

				}

				.featured-banner-copy {
					display: inline-block;
					.helvetica-bold;
					font-size: 24px;
					line-height: 29px;
					letter-spacing: 0.05px;
					color:@gw-black;
					vertical-align: middle;
					max-width:~"calc(100% - 125px)";
					
					@media(max-width: @break-mobile-max) {
						font-size: 16px;
						line-height: 22px;
					}

					@media(max-width: 900px){
						max-width: 100%;
					}
				}

				img {
					max-height: 100%;  
					max-width:  90px !important; 
					width: auto;
					height: auto;
					position: absolute;  
					top: 0;  
					bottom: 0;    
					right: 20px;  
					margin: auto;

					@media(@tablet) {
						max-width:  160px !important; 
						max-width: none;
					}
				}
			}

			.main-and-sub-feature-container {

				.main-feature-container {

					@media(@desktop) {
						float:left;
						width:~"calc(100% - 249px)";
						padding-right: 30px;
						padding-bottom: 20px;
						box-sizing: border-box;
						border-right: @gw-border-style;
						margin-right: -1px;
					}

					article {
						position:relative;

						figure {
						    margin-bottom: 6px;

						    @media(@tablet) {
						    	margin-bottom: 14px;
						    }

							img {
								width:100%;
							}
						}

						.featured-flag {
							position:absolute;
							z-index: 1;
							.mercury-medium-italic;
							color:#fff;
							top:18px;
							left:-3px;
							padding:3px 8px;
							font-size: 13px;
							letter-spacing: -0.8px;

							@media(@tablet) {
								width:auto;
								left:-12px;
								padding:4px 8px;
								font-size: 22px;
								line-height: 19px;
								letter-spacing: 0.05px;
								font-weight: 600;
							}

							&:before {
								content:"";
								z-index:-1;
								background-color: @gw-red;
								position:absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								transform: skewX(-10deg);
							}
						}

						h3 {
							padding: 0 @mobile-margin;
							font-size: 28px;
							line-height: 31px;
							letter-spacing: -0.3px;
						    margin-bottom: 3px;

						    @media(@tablet) {
						    	padding: 0;
								font-size: 32px;
								line-height: 34px;
								letter-spacing: -0.6px;
							    margin-bottom: 3px;
						    }
						}

						.time-and-byline {
							.helvetica-light;
							font-size: 11px;
							line-height: 21px;
							color:#666666;
							padding: 0 @mobile-margin;
							margin-bottom: 10px;

						    @media(@tablet) {
						    	padding: 0;
						    }
						}

						p.summary {
							padding: 0 @mobile-margin;

						    @media(@tablet) {
						    	padding: 0;
						    }
						}

						.related-links {
							margin-top: 24px;
							margin-bottom: 14px;
							padding: 0 @mobile-margin;

						    @media(@tablet) {
						    	padding: 0;
						    }

							h4 {
								.helvetica-medium;
								font-size: 12px;
								letter-spacing: -0.05px;
								color:@gw-red;
								margin-bottom: 12px;
							}

							ul {
								padding-left:16px;

								li {
									position:relative;
									margin-bottom: 8px;

									&:before {
										content:'';
										position:absolute;
										left: -13px;
										top: 7px;
										width:4px;
										height:4px;
										background-color: @gw-black;
										.transform(~"rotate(45deg)");
									}

									article {
										h3 {
											.mercury-medium;
											font-size: 14px;
											line-height: 20px;
											letter-spacing:-0.1px;
											color:@gw-gray;
											padding:0;
										}
									}
								}
							}
						}
					}
				}

				.sub-features-container {
					border-top:@gw-heavy-black-bar;
					margin:24px @mobile-margin 0;
					padding-top: 14px;
					margin-bottom: 16px;
					border-left: none;

					@media(@tablet) {
						margin-left:0;
						margin-right: 0;
						margin-bottom: 0;
						
					}

					@media(@desktop) {
						float:left;
						width:249px;
						padding-left:30px;
						box-sizing: border-box;
						border-top: 0;
						margin:auto;
						padding-top: 0;
						border-left: @gw-border-style;
					}

					.sub-feature-banner {
						position:relative;
						text-align: center;
						height:60px;
						padding-bottom: 10px;
						border-bottom: @gw-border-style;
						margin-bottom: 20px;

						img {
							position:relative;
							top:50%;
							transform:translateY(-50%);
						}
					}

					article {
						.clearfix;
						padding-bottom: 20px;
						border-bottom: @gw-border-style;
						margin-bottom: 20px;

						&:last-child {
							border-bottom: 0;
							margin-bottom: 0;
						}

						figure {
					    	float:right;
					    	width:40%;
					    	margin-left: 10px;
					    	margin-bottom:10px;

						    @media(@tablet) {
								float:right;
							    width: 85px;
							    height:70px;
						    }

						    img {
						    	width: 100%;
						    	height: 100%;
						    	object-fit: cover;
						    }
						}

						h3 {
							font-size: 19px;
							line-height: 23px;
							letter-spacing: -0.1px;

							@media(@tablet) {
								font-size: 16px;
								line-height: 21px;
								letter-spacing: -0.2px;
							}
						}
					}
				}
			}
		}

		.popular-and-ad-container {
			.right-rail-style;

			.popular-stories-module {
				ul.wpp-list {
					li {
						&:nth-child(5) {
							display:none;
						}
						
						&:nth-child(6) {
							display:none;
						}

						&:nth-child(7) {
							display:none;
						}

						@media(min-width:768px) and (max-width:1023px) {
							&:nth-child(5) {
								display:block;
							}
							
							&:nth-child(6) {
								display:block;
							}

							&:nth-child(7) {
								display:block;
							}
						}
					}
				}
			}
		}
	}

	.mid-content-container {
		max-width: @content-wide;
		margin:0 auto;
		.clearfix;
		box-sizing: border-box;

		@media(@tablet) {
			padding: 0 @desktop-margin;
		}
		
		.quick-shots-and-latest-news {
			.clearfix;

			@media(@tablet) {
				width:~"calc(100% - 330px)";
				float:left;
			}

			.quick-shots {
				position:relative;
				//margin-top: 20px;
				
				@media(@tablet) {
					float:left;
					width:100%;
					padding-right:30px;
					box-sizing: border-box;
					margin-bottom: 20px;
				}

				@media(@desktop) {
					width:220px;
					margin-bottom: 0;
				}

				&:before {
					content:"";
					height: 4px;
					width:~"calc(100% - 90px)";
					left:60px;
					background-color: @gw-black;
					position:absolute;
				    top: 35px;

				    @media(@tablet) {
						width:100%;
						left:0;
					}

				    @media(@desktop) {
						top:auto;
						width:~"calc(100% - 9px)";
						left:auto;
				    }
				}

				h2 {
					.mercury-book-italic;
					color: #fff;
					position: relative;
					z-index: 1;
					width: 180px;
					padding: 8px 12px 30px 30px;
					font-style: italic;
					font-weight: 600;
					font-size: 30px;
					line-height: 21px;
					letter-spacing: -0.9px;
					height:69px;

					a{
						color: @gw-link-white;
					}

					@media(@tablet) {
						margin-top: -6px;
				    	left: -13px;
				    	padding: 0;
					}

					@media(@desktop) {
						margin-top: -34px;
					}

					span {
						display: inline-block;
						padding: 13px 12px;
						position: relative;

						&:before {
							content: "";
							z-index: -1;
							background-color: @gw-red;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							transform: skewX(-10deg);
						}

						&.shots {
							left: 29px;
						  	top: -25px;

					    &:after {
					    	content: "";
					    	background-color: #fff;
					    	position: absolute;
					    	top: 0;
					    	right: -6px;
					    	bottom: 0;
					    	width: 6px;
					    	transform: skewX(-10deg);
					    }
						}
					}
				}

				ul {
					margin:0;
					padding:0 40px;
					padding-bottom: 30px;
					
					@media(@desktop) {
						padding-left:10px;
						padding-right: @mobile-margin;
						padding-bottom: 0;
					}

					li {
						position:relative;
						padding-top: 26px;
	  					padding-bottom: 26px;

	  					@media(@tablet) {
							padding-top: 20px;
		  					padding-bottom: 20px;
	  					}

						&:first-child {
							padding-top: 6px;

	  						@media(@tablet) {
								padding-top:20px;
							}
						}

						&:last-child {
							&:after {
								display:none;
							}
						}

						&:after {
							content:'';
							height:1px;
							width:100%;
							background-color: #dcdcdc;
							position:absolute;
							bottom:0;

							@media(@tablet) {
								width:60px;
							}
						}

						span.position {
							display:inline-block;
							padding:4px 8px;
							position:relative;
							.mercury-bold-italic;
							font-size: 16px;
							letter-spacing: 0.2px;
							color:#fff;
							z-index: 1;
							pointer-events: none;

							&:before {
								content:"";
								z-index:-1;
								background-color: @gw-yellow;
								position:absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								transform: skewX(-10deg);
							}
						}

						article {
							position:relative;

							figure {
								margin-top:-27px;
								position:relative;
								left:11px;
								display:inline-block;
								width:120px;
								height:74px;

								@media(@desktop) {
									left:12px;
									width:100px;
									height:60px;
								}

								&:before {
									content:"";
									background-color: #fff;
									position:absolute;
									width:13px;
									top:0;
									left:-8px;
									bottom:0;
									transform: skewX(-10deg);
								}

								&:after {
									content:"";
									background-color: #fff;
									position:absolute;
									width:13px;
									top:0;
									right:-7px;
									bottom:0;
									transform: skewX(-10deg);
								}
							}

							h3 {
								.mercury-medium;
								margin-top: 5px;
								font-size: 22px;
								line-height: 25px;
								letter-spacing: -0.3px;

								@media(@desktop) {
									font-size: 18px;
									line-height: 21px;
									letter-spacing: -0.1px;
								}
							}
						}
					}
				}
			}
			
			.latest-news {
				padding: 0 @mobile-margin;
				position:relative;

				@media(@tablet) {
					padding: 0;
					clear:both;
					margin-bottom: 20px;
				}

				@media(@desktop) {
					clear:none;
					float:left;
					width:~"calc(100% - 251px)";
					border-left: @gw-border-style;
					padding-left: 30px;
				}

				&:before {
					content:"";
					height: 4px;
					width:~"calc(100% - 30px)";
					background-color: @gw-black;
					position:absolute;

					@media(@tablet) {
						width:100%;
					}

					@media(@desktop) {
						width:~"calc(100% + 321px)";
						left:9px;
						display:block;
					}
				}

				.section-title-container {
					.clearfix;
					border-bottom: @gw-border-style;
				    padding: 16px 0;
				    margin-bottom: 22px;

				
					h2 {
						width: 85%;
						display:inline-block;
						a{
							text-decoration: none;
							.helvetica-bold;
							font-size: 18px;
							line-height: 19px;
							letter-spacing: 0.1px;
							color:@gw-red;	
						}
					}

					> a {
						float:right;
						font-size: 20px;
						line-height: 20px;
						color:@gw-blue;
						position: relative;
						top: 7px;
					}
				}

				.more-latest-container {
					background-color: #fafafa;
					text-align: center;
					margin-top:10px;
					padding:21px 0;

					a {

						&:hover {
							text-decoration: underline;
						}

						i {
							position: relative;
							top: 2px;
							color:@gw-blue;
							font-size: 24px;
							margin-left: 3px;
						}
					}
				}
			}
		}

		.mid-modules {
			margin-top: 34px;
			.right-rail-style;
			clear:both;

			@media(@tablet) {
				clear:none;
			}
		}
	}

	.latest-videos-and-photos-container {
		background-color: #121212;

		@media(@tablet) {
			padding:6px 0;
			margin-bottom: 30px;
		}

		.latest-media-inner {
			max-width: @content-wide;
			padding: 0 @mobile-margin;
			box-sizing: border-box;

			@media(@tablet) {
				margin:0 auto 30px;
				padding: 0 @desktop-margin;
			}

			.latest-media {
				.clearfix;
				border-bottom: 1px solid #474747;
				padding-bottom: 0;

				@media(@tablet) {
					padding-bottom: 40px;
				}

				&:last-child {
					border-bottom: 0;
					padding-bottom: 10px;

					@media(@tablet) {
						padding-bottom: 30px;
					}
				}

				.title-and-more-container {
					.clearfix;
					padding:16px 0;

					@media(@tablet) {
						padding:20px 0;
					}

					h2 {
						.mercury-medium-italic;
						font-size: 20px;
						letter-spacing: -1.2px;
						color:#fff;
						line-height: 38px;
						float: left;

						@media(@tablet) {
							font-size: 22px;
						}

						span {

						}

						i {
							color:@gw-red;
							font-size: 20px;
							margin-right: 6px;

							@media(max-width: @break-mobile-max) {
								color: #f9141e;
								font-size: 28px;
								margin-right: 10px;
								position:relative;
								top:5px;
							}

							@media(@tablet) {
								font-size: 35px;
								position:relative;
								top: 7px;
								margin-right: 12px;
							}
						}
					}

					.more-latest-container {
						float: right;
						line-height: 38px;

						@media(@tablet) {
							line-height: 45px;
						}

						a {
							.mercury-bold-italic;
							font-size: 16px;
							letter-spacing: -0.7px;
							color:#bfbfbf;
							text-decoration: none;

							span {
								display:none;

								@media(@tablet) {
									display:inline;
								}
							}

							i {
								color:@gw-blue;
								font-size: 20px;
								top: 1px;
							    margin-left: 4px;
							}
						}
					}
				}


				article {
					margin-bottom: 12px;
					clear:both;
					.clearfix;

					@media(@tablet) {
						float:left;
						width: 48.3%;
						margin-right: 3.3%;
						margin-bottom: 20px;
						clear:none;

						&:nth-child(2n + 1) {
							margin-right: 0;
						}
					}

					@media(@desktop) {
						width: 22.5%;
						margin-right: 3.3%;
						margin-bottom: 0;

						&:nth-child(2n + 1) {
							margin-right: 3.3%;
						}
						
						&:last-child {
							margin-right: 0;
						}
					}

					&:first-of-type {
						@media(max-width:@break-mobile-max) {
							padding-bottom: 20px;
							border-bottom: 1px solid #333;
							margin-bottom: 20px;

							figure {
								width:100%;
								float:none;
								margin-left: 0;
							}

							h3 {
								font-size: 21px;
								line-height: 23px;
								letter-spacing: -0.2px;
								color:#fff;
							}
						}
					}


					figure {
						position: relative;
					    margin-bottom: 8px;
					    width:48%;
					    float:right;
				        margin-left: 12px;

				        @media(max-width:@break-mobile-max) {
							position: relative;
							margin-bottom: 8px;
							width: 44%;
							float: right;
							margin-left: 12px;
				        }

					    @media(@tablet) {
					    	width:auto;
					    	float:none;
					    	margin-left: 0;
					    }

					    a{
					    	.video-play-btn, .gallery-play-btn{
					    		right: 6px;
					    		bottom: 10px;
					    		position: absolute;
					    		width: 40px;
					    		height: 40px;
					    		background-color: @gw-black;
					    		border: 1px solid #b8b8b8;
					    		text-align: center;
					    		line-height: 44px;
					    		font-size: 13px;

					    		@media(@tablet) {
					    			right: 15px;
					    			bottom: 17px;
					    			width: 45px;
					    			height: 45px;
					    			line-height: 49px;
					    			font-size: 16px;
					    		}

					    		.fa{
					    			color: @gw-link-white;
					    		}
					    	}
					    	.gallery-play-btn{
					    		@media(@tablet) {
									width:75px;
					    		}

					    		span{
					    			display:none;

					    			@media(@tablet) {
					    				display:inline;
					    				margin-left: 8px;
					    			    color: @gw-link-white;
					    			    .helvetica-roman;
					    			    font-size: 16px;
					    			}
					    		}
					    	}
					    }

					    img {
					    	width:100%;
					    }
					}

					h3 {
						.mercury-bold;
						font-size: 19px;
						line-height: 23px;
						letter-spacing: -0.3px;
						color:#fff;
						margin-bottom: 2px;

						@media(max-width:@break-mobile-max) {
							font-size: 17px;
							line-height: 22px;
							letter-spacing: -0.2px;
							color: #fff;
						}

						a {
							color:#fff;
						}
					}

					time {
						.helvetica-medium;
						font-size: 11px;
						line-height: 19px;
						color:#999999;
					}
				}
			}
		}

	}

	.lower-content-container {
		background-color: #f6f6f6;
		padding-top: 10px;

		@media(@tablet) {
			background-color: #fff;
			padding-top: 0;
		}

		.featured-categories-and-modules-container {
			margin:0 auto;
			box-sizing: border-box;
			.clearfix;

			@media(@tablet) {
				max-width: @content-wide;
				padding: 0 @desktop-margin;
				margin-bottom: 30px;
			}

			.featured-categories-container {
				position:relative;

				@media(@tablet) {
					float:left;
					width:~"calc(100% - 330px)";
					box-sizing: border-box;
				}

				.featured-category {
					.clearfix;
				    margin-bottom: 10px;
				    background-color: #fff;

				    @media(@tablet) {
						margin-bottom: 34px;
				    }

					&:before {
						@media(@tablet) {
							content:"";
							height: 4px;
							width:100%;
							background-color: @gw-black;
							position:absolute;
						}
					}

					.section-title-container {
						.clearfix;
						padding:16px @mobile-margin;

					    @media(@tablet) {
					    	padding: 16px 0;
					    }

				    	h2 {
				    		display: inline-block;
				    		width: 85%;

						    a.cat-header-link {
						    	text-decoration: none;
							   	float: none;
					    		.helvetica-bold;
					    		font-size: 18px;
					    		line-height: 19px;
					    		letter-spacing: 0.1px;
					    		color:@gw-red;
					    	}
					    }

						> a {
							float:right;
							font-size: 20px;
							line-height: 20px;
							color:@gw-blue;
							position: relative;
							top: 7px;
						}
					}

					.featured-post-in-category {
						padding-bottom: 14px;

				        @media(@tablet) {
				        }

				        @media(min-width:860px) {
							float:left;
						    width: 62%;
					        margin-right: 3.4%;
					        padding-bottom: 0;
				        }

				        article {
				        	figure {
			        		    margin-bottom: 4px;

								a {
									display:block;

									img {
										width:100%;
									}
								}
				        	}

				        	h3 {
								.mercury-medium;
								font-size: 24px;
								line-height: 29px;
								letter-spacing: -0.2px;
								color:@gw-black;
								margin-bottom: 5px;
								padding:0 @mobile-margin;

								@media(max-width:@break-mobile-max) {
									font-size: 28px;
									line-height: 31px;
									letter-spacing: -0.3px;
								}

								@media(@tablet) {
									padding:0;
								}
				        	}

				        	.time-and-byline {
				        		.helvetica-medium;
				        		color:#828282;
				        		font-size: 11px;
				        		padding:0 @mobile-margin;

								@media(@tablet) {
									padding:0;
								}
				        	}
				        }
					}

					.sub-feature-posts-in-category {
						padding:0 @mobile-margin;

						@media(@tablet) {
							padding:0;
						}

						@media(min-width:860px) {
							float:left;
							width:34.6%;
							padding:0;
						}

						article {
							border-top:@gw-border-style;
							padding:16px 0;

							@media(max-width:@break-mobile-max) {
								padding:20px 0;
							}

							h3 {
								.mercury-medium;
								font-size: 16px;
								line-height: 21px;
								letter-spacing: -0.2px;
								color:@gw-gray;

								@media(max-width:@break-mobile-max) {
									font-size: 18px;
									line-height: 23px;
									letter-spacing: -0.1px;
								}
							}
						}
					}
				}
			}

			.lower-modules {
				.right-rail-style;
			}
		}

		.sub-featured-categories-container {
			clear:both;
			background-color: #fafafa;

			@media(@tablet) {
				padding-top: 30px;
			}

			.sub-featured-categories-container-inner {
				max-width: @content-wide;
				margin:0 auto;
				box-sizing: border-box;
				.clearfix;

				@media(@tablet) {
					padding: 0 @desktop-margin 30px;
				}

				.sub-featured-category {
					background-color: #fff;
					box-sizing: border-box;
					padding:0 @mobile-margin 6px;
					margin-bottom: 10px;
					
					@media(@tablet) {
						float:left;
						width:49%;
						margin-right:2%;
						margin-bottom: 20px;
						padding:0 19px 6px;
						box-shadow: 0px 1px 3px #B1B1B1;

						&:nth-child(2n) {
							margin-right: 0;
						}
					}

					@media(@desktop) {
						float:left;
						width:23.5%;
						margin-right:2%;
						margin-bottom: 0;

						&:nth-child(2n) {
							margin-right: 2%;
						}
					}

					&:last-child {
						margin-right: 0;
					}

					.section-title-container {
						.clearfix;
					    padding: 16px 0;

					  

				    	h2 {
				    		display: inline-block;
				    		width: 85%;

				    		a.cat-header-link{
				    			text-decoration: none;
				    			float: none;
					    		.helvetica-bold;
					    		font-size: 18px;
					    		line-height: 19px;
					    		letter-spacing: 0.1px;
					    		color:@gw-red;
					    	}
					    }

						> a {
							float:right;
							font-size: 20px;
							line-height: 20px;
							color:@gw-blue;
							position: relative;
							top: 7px;
						}
					}

					article {
						border-bottom: @gw-border-style;
					    padding: 12px 0;

					    @media(max-width:@break-mobile-max) {
							padding: 20px 0;
					    }

					    &:first-of-type {
					    	padding-top: 8px;
					    }

					    &:last-child {
					    	border-bottom: none;
					    }

						h3 {
							.mercury-medium;
							font-size: 16px;
							line-height: 21px;
							letter-spacing: -0.2px;
							color:@gw-gray;

							@media(max-width:@break-mobile-max) {
								font-size: 18px;
								line-height: 23px;
							}
						}
					}
				}
			}

		}
	}
}