.landing-page{
	margin: 0 auto;
	padding: 0;
	max-width: @content-wide;
	box-sizing: border-box;

	@media(@tablet) {
		padding: 0 @desktop-margin;
	}

	.landing-page-container{
		border-top: 4px solid @gw-black;


		.featured-articles{
			margin-top: 15px;
			margin-bottom: 50px;
			clear: both;
			.clearfix;
			@media(max-width: @break-mobile-max){
				margin-bottom: 0px;
			}

			.category-title-container{
				border-top: none;
				display: block;
				padding-bottom: 15px;
				width: 100%;
				float: left;
				padding-top: 0px;

				.category-title{
					color: @gw-red;
					font-size: 32px;
					.helvetica-medium;
				}
			}
			.big-and-small-features{
				border-right: @gw-border-style;
				.clearfix;
				float: left;
				box-sizing: border-box;
				max-width: ~"calc(100% - 250px)";
				margin-right: 30px;

				@media(max-width: @break-mobile-max){
					max-width: none;
					width:100%;
					margin-right: 0;
					border: none;

				}

				.big-feature{
					max-width: ~"calc(100% - 261px)";
					float: left;
					padding-right: 30px;
					border-right: @gw-border-style;

					@media(max-width:@break-tablet-max) {
						max-width: none;
						float:none;
						margin-right: -1px;
						margin-bottom:30px;
					}

					@media(max-width: @break-mobile-max){
						display: block;
						padding-right: @mobile-margin;
						padding-left: @mobile-margin;
						border-right: none;
						border-bottom: 5px solid @gw-black;
						padding-bottom: 15px;
						margin-bottom: 15px;
					}

					.category-title-container{
						border: none;
						margin-bottom: 0px;
					}

					figure{
						margin-bottom: 15px;
						width: 100%;

						@media(max-width: @break-mobile-max){
							width: ~"calc(100% + 30px)";
							position: relative;
							left: -15px;
							margin-bottom: 6px;
						}

						img{
							width: 100%;
						}
					}

					h3{
						font-size: 32px;
						line-height: 34px;
						letter-spacing: -0.6px;
						color: @gw-black;
						.mercury-bold;
						margin-bottom: 3px;

						@media(max-width: @break-mobile-max){
							font-size: 28px;
							line-height: 31px;
							letter-spacing: -0.3px;
							margin-bottom: 3px;
						}
					}

					time {
						@media(max-width: @break-mobile-max){
							display:block;
							margin-bottom: 10px;
						}
					}

					.summary{
						// margin-top: 10px;
					}
				}

				.small-features{
					float: left;
					width: 230px;
					padding: 0 30px;
					box-sizing: border-box;

					@media(max-width:@break-tablet-max) {
						width: auto;
						float:none;
						padding:0;
						margin-right: 30px;
						padding-top:30px;
						border-top:@gw-heavy-black-bar;
					}

					@media(max-width: @break-mobile-max){
						clear:both;
						display: block;
						display: block;
						padding: 0 @mobile-margin;
						margin-right: 0;
						border-top:0;
					}


					h3{
						font-size: 16px;
						line-height: 21px;
						letter-spacing: -0.2px;
					    margin-bottom: 2px;
					    color: @gw-black;
					    .mercury-bold;

					    @media(max-width: @break-mobile-max){
					    	font-size: 19px;
				    	    line-height: 23px;
				    	    letter-spacing: -0.1px;
					    }
					}

					article{
						border-bottom: @gw-border-style;
						padding-bottom: 15px;
						margin-bottom: 15px;
					}

					article:nth-last-child(1){
						border-bottom: none;

						@media(max-width: @break-mobile-max){
							padding-bottom: 0;
						}
					}
				}
			}

			.medium-features{
				float: left;
				max-width: 220px;

				@media(max-width: @break-mobile-max){
					clear: both;
					padding:0 @mobile-margin;
				}

				@media(max-width: @break-mobile-max){
					display: block;
					float: none;
					max-width: 100%;
				}

				h3{
					font-size: 19px;
					line-height: 23px;
					letter-spacing: -0.3px;
					margin-bottom: 2px;
					.mercury-bold;
					color: @gw-black;
					
				    @media(max-width: @break-mobile-max){
				    	font-size: 19px;
			    	    line-height: 23px;
			    	    letter-spacing: -0.1px;
				    }
				}

				article{
					margin-bottom: 20px;

					@media(max-width: @break-mobile-max){
						.clearfix;
					}


					figure{
						@media(max-width: @break-mobile-max){
							width: 35%;
							float: right;
							margin-left: 10px;
						}
					}
				}

				article:first-child{
					padding-bottom: 15px;
					border-bottom: @gw-border-style;

					@media(max-width: @break-mobile-max){
						border-top: @gw-border-style;
						padding: 20px 0px;
					}
				}
			}
		}
		.promoted-sections-article-list-and-sidebar-container{
			.clearfix;
			clear: both;

			.promoted-sections-container{
				box-sizing: border-box;
				width: 220px;
				margin-bottom: 30px;
				border-right: @gw-border-style;
				padding-right: 30px;
				float: left;


				@media(max-width:@break-tablet-max) {
					width: 100%;
					margin-right: 0;
					border-right: none;
					padding-right: 0;
					float: none;
					display: block;

				}

				.promoted-sections-hr{
					margin-top: 0px;
					margin-right: -15px;
					height: 4px;
					background-color: @gw-black;
					border: none;

					@media(max-width:@break-tablet-max) {
						margin-right: 0;
					}

					@media(max-width: @break-mobile-max){
						display: none;
					}

				}

				.promoted-section{
					&:first-of-type {
						.promoted-section-hr{
							display:none;
						}
					}

					article{
						border-bottom: @gw-border-style;
						padding-bottom: 15px;
						margin-bottom: 15px;

						&:last-child{
							border-bottom: 1px solid #dcdcdc;

							@media(max-width: @break-mobile-max){
								border-bottom: 10px solid #fafafa;
							}
						}

						@media(max-width: @break-mobile-max){
							padding-left: @mobile-margin;
							padding-right: @mobile-margin;
						}

						h3{
							font-size: 16px;
							line-height: 21px;
							letter-spacing: -0.2px;
						    margin-bottom: 2px;
						    color: @gw-black;
						    .mercury-bold;

				    	    @media(max-width: @break-mobile-max){
				    	    	font-size: 19px;
				        	    line-height: 23px;
				        	    letter-spacing: -0.1px;
				    	    }
						}
					}

					.promoted-section-title-container{
						margin-bottom: 20px;

						@media(max-width: @break-mobile-max){
							padding-left: @mobile-margin;
							padding-right: @mobile-margin;
						}

						h2{
							max-width: 85%;
							display: inline-block;
							.cat-header-link{
								.helvetica-bold;
								font-size: 18px;
								color: @gw-red;
								line-height: 20px;
								text-decoration: none;
								// margin-right: 80px;

							}

						}
						.chevron-link{
							position: relative;
							right: 5px;
							float: right;
							font-size: 23px;
							text-decoration: none;
							color: #006cbf;
						}
					}
				}

				.promoted-section:nth-last-child(1){
					article:nth-last-child(1){
						margin-bottom: 0px;
						border-bottom: none;
						padding-bottom: 0px;

						@media(max-width: @break-mobile-max){
							border-bottom: 10px solid #fafafa;
							padding-bottom: 15px;
							margin-bottom: 0px;
						}
					}
				}
			}
			.article-and-right-module-container{
				position: relative;

				&:before{
				    content: "";
				    height: 4px;
				    width: ~"calc(100% - 552px)";
				    background-color: #1a1a1a;
				    position: absolute;
				    left: 234px;
					
					@media(max-width: @break-tablet-max){
						left:0;
						width: ~"calc(100% - 330px)";
					}

				    @media(max-width: @break-mobile-max){
				    	display: none;
				    }
				}

				hr{
					margin-left: -26px;
					height: 4px;
					background-color: @gw-black;
					border: none;

				}

				.standard-article-list {
					@media(max-width: @break-mobile-max){
						padding:0 @mobile-margin;
					}
				}
			}

			.article-list{
				width: ~"calc(100% - 580px)";
				float: left;
				padding-top: 15px;
				.clearfix;

				@media(max-width: @break-tablet-max){
					width: ~"calc(100% - 330px)";
				}

				@media(max-width: @break-mobile-max){
					padding-top: 0px;
					width: 100%;
					float: none;
					margin-right: 0;
				}

				article{

					figure{
						@media(max-width: @break-mobile-max){
							width: 35%;
							float: right;
							margin-left: 10px;		
						}

						img {
							width: 100%;
						}
					}
					@media(max-width: @break-mobile-max){
						margin-bottom: 15px;
						padding-bottom: 13px;
					}

					h3{
						.mercury-bold;
						font-size: 22px;
						color: @gw-black;
						
					    @media(max-width: @break-mobile-max){
					    	font-size: 19px;
				    	    line-height: 23px;
				    	    letter-spacing: -0.1px;
					    }
					}
					.summary{
						.helvetica-light;
						font-size: 14px;
						color: @gw-black;
						@media(max-width: @break-mobile-max){
							display: none;
						}
					}
				}

				.article-list-title-container{
					border-bottom: @gw-border-style;
					margin-bottom: 20px;
					padding-bottom: 15px;

					@media(max-width: @break-mobile-max){
						border-bottom: none;
						padding: 0 @mobile-margin;
					}

					h2{
						display: inline-block;
						a{
							.helvetica-bold;
							font-size: 18px;
							color: @gw-red;
							// margin-right: 80px;
						}
					}

					a{
						position: relative;
						right: 5px;
						float: right;
						font-size: 23px;
						text-decoration: none;
						color: #006cbf;
					}

				}
			}

			.right-modules{
				.right-rail-style;
			}

			.article-next-btn{
				text-transform: uppercase;
				display: inline-block;
				text-align: center;
				background: #fafafa;
				padding: 20px 0;
				width: ~"calc(100% - 30px)"; 
				text-align: center;
				margin: 10px 0px 0px 15px;

				@media (@tablet){
					width: 100%;
					margin: 10px 0 0 0;
				}
				

				a{
					margin-top: 30px;
					font-size: 18px;
					color: #00001a;
					text-decoration: none;
					font-family: "Mercury Display A","Mercury Display B";
					font-style: italic;
					font-weight: 600;
					letter-spacing: 0.1px;
					
				}

				.fa{
					font-size: 23px;
					position: relative;
					top: 2px;
					color: #006cbf;
				}

				.fa-angle-double-right{
					margin-left: 2px;
				}
				.fa-angle-double-left{
					margin-right: 2px;
				}
			}

			.article-list-narrow{


				@media(@desktop){
					border-left: @gw-border-style;
					padding-left: 30px;
					margin-left: -1px;
					margin-bottom: 30px;
				}

			}

			.article-list-narrow:before{

				@media(@tablet){
					content: "";
				    height: 4px;
				    width: ~"calc(100% - 552px)"; 
				    background-color: @gw-black;
				    position: absolute;
				    left: 234px;
				    margin-top: -15px;
				}
			}
			.article-list-wide{
				width: 100%;

				@media(@tablet){
					width: ~"calc(100% - 330px)"; 	
				}
			}
			.article-list-wide:before{
				
				@media(@tablet){
					content: "";
				    height: 4px;
				    width: ~"calc(100% - 330px)"; 
				    background-color: @gw-black;
				    position: absolute;
				    margin-top: -15px;

					}		
			}

		}
	}
}
