.layout-media{
	max-width: @content-wide;
	margin: 0 auto;
	padding: 0 @desktop-margin;
	box-sizing: border-box;

	@media(max-width: @break-mobile-max){	
		padding: 0;

		&:before {
			content:"";
			height: 4px;
			width:100%;
			left: 0px;
			background-color: @gw-black;
			position:absolute;
		}
	}

	.ad-container{
		margin-left: -15px;
		width: ~"calc(100% + 30px)";

		@media(max-width: @break-mobile-max){	
			border-bottom: 4px solid @gw-black;
		}
	}
	.featured-media{
		.clearfix;
		border-top: 4px solid @gw-black;
		padding: 20px 0;
		margin: 20px 0 0;
		border-bottom: 4px solid @gw-black;

		@media(max-width: @break-mobile-max){	
			border-top: none;
			margin-top: 0;
			padding-top: 0px;
		}
		
		.big-feature{
			box-sizing: border-box;
			width: ~"calc(100% - 300px)";
			float: left;
			margin-right: 30px;
			border-right: 1px solid #dcdcdc;	
			padding-right: 30px;

			@media(max-width: @break-mobile-max){	
				width: 100%;
				float: none;
				display: block;
				margin-right: 0px;
				border-right: none;
				padding-right: 0;
				margin-bottom: 15px;

			}

			a{			
				figure{
					width: 100%;
					position: relative;

					img{
						width: 100%;
						display: block;
					}
					.big-feature-categories{
						position: absolute;
						bottom: 40px;
						left: 40px;
						z-index: 10;
						width: ~"calc(100% - 200px)";

						@media(max-width: @break-mobile-max){	
							bottom: 20px;
							left: 20px;
							width: ~"calc(100% - 120px)";
						}

						h4{
							.helvetica-bold;
							font-size: 18px;
							color: @gw-link-white;
							margin-bottom: 10px;

							@media(max-width: @break-mobile-max){
								margin-bottom: 6px;
								font-size: 16px;
							}
						}
						h3{
							font-size: 30px;
							.mercury-bold;
							color: @gw-link-white;
							z-index: 10;
							
							@media(max-width: @break-mobile-max){
								font-size: 25px;
							    line-height: 24px;
							    letter-spacing: -0.3px;
							    margin-bottom: 3px;
							}
						}
					}

					.curtain{
						// .clearfix;
						z-index: 5;
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						bottom: 0;
						background-color: rgba(0, 0, 0, 0.3);

						.media-btn-gallery{
							right: 28px;
							bottom: 28px;
							position: absolute;
							width: 125px;
							height: 90px;
							background-color: @gw-black;
							border: 1px solid #b8b8b8;

							@media(max-width: @break-mobile-max){	
								width: 75px;
								height: 40px;
								right: 15px;
								bottom: 15px;
							}

				    		.fa{
				    			position: relative;
				    			top: 30px;
				    			color: @gw-link-white;
				    			font-size: 27px;
				    			left: 21px;

				    			@media(max-width: @break-mobile-max){	
				    				font-size: 16px;
				    				left: 12px;
				    				top: 12px;
				    			}
				    		}

				    		span{
				    			position: relative;
			    			    left: 35px;
			    			    bottom: -29px;
			    			    color: @gw-link-white;
			    			    .helvetica-roman;
			    			    font-size: 27px;

			    			    @media(max-width: @break-mobile-max){	
		    		    			position: relative;
		    	    			    left: 22px;
		    	    			    bottom: -11px;
		    	    			    color: @gw-link-white;
		    	    			    .helvetica-roman;
		    	    			    font-size: 16px;
			    			    }
				    		}
						}
						
						.media-btn{
							right: 28px;
							bottom: 28px;
							position: absolute;
							width: 90px;
							height: 90px;
							background-color: @gw-black;
							border: 1px solid #b8b8b8;

							@media(max-width: @break-mobile-max){	
								width: 45px;
								height: 45px;
								right: 15px;
								bottom: 15px;
							}

							i {
								position: relative;
								left:25px;
								top: 28px;
								color: @gw-link-white;
								font-size: 35px;

								@media(max-width: @break-mobile-max){	
									font-size: 16px !important;
									left: 13px;
									top: 14px;
								}
							}
						}
					}
				}
			}

			.category-title-container{
				border: none;
				padding: 0;
				margin-bottom: 15px;

				@media(max-width: @break-mobile-max){	
					padding: 0 @mobile-margin;
				}

				.category-title{
					.helvetica-medium;
					font-size: 32px;
					color: @gw-red;
					@media(max-width: @break-mobile-max){	
						font-size: 23px;
						padding-top: 15px;
					}
				}
			}	
		}
		.medium-features{
			width: 270px;
			float: left;

			@media(max-width: @break-mobile-max){	
				float: none;
				width: auto;
				padding:0 @mobile-margin;
			}


			article{

				a{
					img{
						@media(max-width: @break-mobile-max){	
							width: 100%;
						}
					}
					figure{
						position: relative;
					}

					.media-btn-gallery{
						position: absolute;
						width: 75px;
						height: 40px;
						right: 15px;
						bottom: 15px;
						background-color: @gw-black;
						border: 1px solid #b8b8b8;

						@media(max-width: @break-mobile-max){	

						}

			    		.fa{
			    			position: relative;
			    			color: @gw-link-white;
			    			font-size: 16px;
			    			left: 12px;
			    			top: 12px;

			    			@media(max-width: @break-mobile-max){	

			    			}
			    		}

			    		span{
			    			position: relative;
		    			    color: @gw-link-white;
		    			    .helvetica-roman;
		    			    left: 22px;
		    			    bottom: -11px;
		    			    font-size: 16px;

		    			    @media(max-width: @break-mobile-max){	

		    			    }
			    		}
					}

					.media-btn{
						right: 15px;
						bottom: 17px;
						position: absolute;
						width: 45px;
						height: 45px;
						background-color: @gw-black;
						border: 1px solid #b8b8b8;

						i{
							position: relative;
							left:13px;
							top: 14px;
							color: @gw-link-white;

							@media(max-width: @break-mobile-max){	
								font-size: 16px !important;
								left: 13px;
								top: 14px;
							}
						}
					}
				}
				h3{
					font-size: 19px;
					line-height: 23px;
					letter-spacing: -0.3px;
					.mercury-bold;

				    @media(max-width: @break-mobile-max){
				    	margin-top: 6px;
				    	font-size: 19px;
			    	    line-height: 23px;
			    	    letter-spacing: -0.1px;
				    }
				}
			}
			article:first-child{
				padding-bottom: 20px;
				border-bottom: 1px solid #dcdcdc;
				margin-bottom: 20px;
			}
		}
	}
	.bottom-content-container{
		.clearfix;

		.latest-and-featured-container{
			float: left;
			width: ~"calc(100% - 330px)";

			@media(max-width: @break-mobile-max){	
				width: auto;
				float:none;
				padding:0 @mobile-margin;
			}

			.media-title-container{
				padding: 14px 0;

				h2{
					max-width: 85%;
					display: inline-block;
					a{
						.helvetica-bold;
						font-size: 18px;
						color: @gw-red;
						float: none;
					}

				}

				a{
					position: relative;
					right: 5px;
					float: right;
					font-size: 23px;
					text-decoration: none;
					color: #006cbf;
				}
			}

			article{
				width: ~"calc(33.33% - 20px)";
				box-sizing: border-box;
				margin-right: 30px;
				float: left;
				margin-bottom: 30px;

				&:last-child{
					@media(max-width: @break-tablet-max) {	
						margin-bottom: 0;
						border-bottom: none;
					}
				}

				@media(@desktop) {
					&:nth-child(3n-1){
						clear: both;
						
					}
					&:nth-child(3n+1){
						margin-right: 0;
					}
				}

				@media(max-width: @break-tablet-max){	
					width: ~"calc(50% - 15px)";

					&:nth-child(2n){
						clear: both;
						
					}
					&:nth-child(2n+1){
						margin-right: 0;
					}
				}

				@media(max-width: @break-mobile-max){	
					width: 100%;
					float: none;
					display: block;
					padding-bottom: 10px;
					border-bottom: 1px solid #dcdcdc;
				}


				figure{
					position: relative;
					width:100%;

					img {
						width:100%;
					}

					.media-btn{
						right: 15px;
						bottom: 17px;
						position: absolute;
						width: 45px;
						height: 45px;
						background-color: @gw-black;
						border: 1px solid #b8b8b8;

						i {
							position: relative;
							left:12px;
							top: 14px;
							color: @gw-link-white;

							@media(max-width: @break-mobile-max){	
								font-size: 16px !important;
								left: 13px;
								top: 14px;
							}


						}


					}

					.media-btn-gallery{
						position: absolute;
						width: 75px;
						height: 40px;
						right: 15px;
						bottom: 19px;
						background-color: @gw-black;
						border: 1px solid #b8b8b8;

						@media(max-width: @break-mobile-max){	

						}

			    		.fa{
			    			position: relative;
			    			color: @gw-link-white;
			    			font-size: 16px;
			    			left: 12px;
			    			top: 12px;

			    			@media(max-width: @break-mobile-max){	

			    			}
			    		}

			    		span{
			    			position: relative;
		    			    color: @gw-link-white;
		    			    .helvetica-roman;
		    			    left: 22px;
		    			    bottom: -11px;
		    			    font-size: 16px;

		    			    @media(max-width: @break-mobile-max){	

		    			    }
			    		}
					}
				}

				h3{
					.mercury-bold;
					font-size: 19px;
					line-height: 23px;
					letter-spacing: -0.3px;

				    @media(max-width: @break-mobile-max){
				    	margin-top: 6px;
				    	font-size: 19px;
			    	    line-height: 23px;
			    	    letter-spacing: -0.1px;
				    }
				}

				a{
					img{
						@media(max-width: @break-mobile-max){	
							width: 100%;
						}
						
					}
				}
			}

			.media-module {
				clear: both;
				.clearfix;
				border-top: 1px solid #dcdcdc;
				margin-bottom: 15px;

				&:first-child {
					border-top:0;
				}

				@media(max-width: @break-mobile-max){	
					border-bottom: none;
					margin-bottom: 0;
				}	
			}
		}

		.right-modules{
			clear:both;
			.right-rail-style;

			@media(@tablet) {
				margin-top: 20px;
				clear:none;
			}
		}

	}
}


