body.modal-open {
  overflow: hidden;
}

.newsletter-iframe {
  background-color: #ffffff;
}

.gw-modal-template {
  display: none;
}

#gw-modal {
  position: absolute;
  height: 0;
  opacity: 0;

  .modal-open & {
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: 100%;

    @media(@tablet) {
      height: 100vh;
      width: 100vw;
    }

    .modal-inner {
      position: relative;
      overflow: hidden;
      top: 5%;
      bottom: 5%;
      z-index: 99999;
      margin: auto;
      max-width: 960px;
      height: 90%;

      @media(max-width:767px) {
        top:auto;
        bottom:auto;
        height:100%;
      }

      .modal-content {
        position: relative;
        z-index: 5;
        height: 100%;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .modal-close {
        position: absolute;
        color: @gw-link-white;
        cursor: pointer;
        right: 10px;
        top: 15px;
        font-size: 22px;
        text-align: center;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        z-index: 99999999;
      }
    }

    .modal-curtain {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      background-color: fade(#000, 90);
    }

  }
}



// AD MODAL RELATED
.modal-open #gw-modal .modal-inner .modal-content.as-ad {
  position: relative;

  .dfp-wrapper,
  .dfp-wrapper > div {
    width: 100%;
    height: 100%;
  }

  .modal-close {
    .helvetica-bold();
    top: -50px;
    right: 0px;
    width: auto;
    font-size: 18px;
    color: @gw-red;

    span {
      vertical-align: middle;
    }
  }

  .modal-continue {
    position: absolute;
    left: 45.5%;
    bottom: -64px;
    width: 244px;
    margin-left: -122px;
    font-size: 18px;
    text-align: center;

    @media(@tablet) {
      left: 50%
    }
    
    &:after {
      margin-left: 4px;
    }
  }

  .modal-content-inner {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 300px;
    height: 250px;
    margin: 0px 0px 0px -150px;
    background-color: #ccc;

    @media (@tablet) {
      top: 46%;
      width: 650px;
      height: 500px;
      margin: -250px 0px 0px -325px;
    }
  }
}

