.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.module {
	max-width: 500px;
	margin:0 auto 30px;

	@media(@tablet) {
		width:300px;
	}
}

.sign-up-module{
	position: relative;
	border: 1px solid #a1a1a1;
	padding: 26px 30px;
	box-sizing: border-box;
	background-color: @gw-link-white;
	width:90%;
	margin-bottom: 20px;
	margin-top: 20px;

	@media(@tablet) {
		width: 300px;
		height: 215px;
		margin-top: 0;
	}

	.sign-up-title {
		font-size: 20px;
		bottom: 0;
		float: left;
		margin-bottom: 10px;
		.helvetica-bold;
		line-height: 21px;

		@media(max-width: @break-mobile-max){
			font-size: 19px;
		}
	}

	.sign-up-image{
		position: absolute;
		top: 19px;
		right: 27px;
		margin-left: 10px;
	}

	.sign-up-body{
		.clearfix;
		font-size: 14px;
		margin-bottom: 25px;
		color: #666666;
		.helvetica-light;
		clear: both;
	}
}

.subscribe-module{
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	height: 300px;
	padding: 34px 30px;
	margin-bottom: 30px;

	@media(max-width: @break-mobile-max){
		width: 70%;
    	min-width: 300px;
		height: 290px;
		float: none;
		margin: 0px auto 20px auto;
		display: block;
		clear: both;
	}

	.subscribe-title{
		.helvetica-bold;
		font-size: 18px;
		color: #ffffff;
		margin-bottom: 25px;
	}

	.subscribe-body{
		.helvetica-medium;
		font-size: 16px;
		color: #b2b2b2;
		margin-bottom: 25px;
	}

	#newsletter-signup {
	    height: 40px;
	}

}

.promo-box-module {
	.promo-container {
		background-color: @gw-black;
		position:relative;
		margin-bottom: 20px;

		figure {
			margin-bottom: -25px;
		}

		.title-container {
			.mercury-medium-italic;
	      	font-weight: 600;
	      	font-size: 30px;
	      	line-height: 23px;
	      	letter-spacing: -1.5px;
			color:#fff;
			text-transform: uppercase;
			position:relative;
			margin-top: -20px;
			display:inline-block;
		  	padding: 16px 0px 12px 20px;
	    	margin-bottom: -20px;
      		z-index: 1;

			@media(@tablet) {
				margin-left:-10px;
				font-size: 26px;
				line-height: 21px;
				letter-spacing: -0.8px;
				padding: 10px;
			}

			span {
			display: inline-block;
    		position: relative;
    		padding: 9px 12px 10px 6px;
    		float: left;
    		clear: both;

				&:before {
		      position: absolute;
		      content: '';
		      z-index: -1;
		      background-color: @gw-red;
		      top: 0;
		      left: 5px;
		      right: 0;
		      bottom: 0;
		      transform: skewX(-10deg);
		    }

				&.title-one {
		    	&:after {
		        position: absolute;
		        content: '';
		        top: 0;
		        left: -5px;
		        bottom: 0;
		        width: 20px;
		        z-index: -1;
		        background-color: @gw-red;
		      }
				}

		    &.title-two {
					top: -18px;

  				&:before {
  					left: 5px;
  				}

		      &:after {
		        position: absolute;
		        content: '';
		        top: 0;
		        left: -5px;
		        bottom: 0;
		        width: 15px;
		        z-index: -1;
		        background-color: @gw-red;
		      }
		    }
			}

			a {
				color: #fff;
				text-decoration: none;
			}
		}

		.promo-body {
		    padding-bottom: 10px;

			> a {
				display:inline-block;
				text-decoration: none;

				span.label {
					.helvetica-bold;
					font-size: 12px;
					line-height: 23px;
					letter-spacing: -0.05px;
					color:@gw-red;
					text-transform: uppercase;
					padding: 0 18px;

					@media(@tablet) {

					}
				}

				ul {
					color:#fff;
					.mercury-medium;
					font-size: 16px;
					line-height: 18px;
					letter-spacing: -0.2px;
					padding: 0 15px 0 50px;
					margin-bottom: 26px;

					@media(@tablet) {
						font-size: 14px;
						line-height: 21px;
						padding: 0 18px 0 40px;
						margin-bottom: 8px;
					}

					li {
						position:relative;
						margin-bottom: 15px;

						@media(@tablet) {
							margin-bottom: 8px;
						}

						&:before {
							content:'';
							position:absolute;
							left: -13px;
							top: 9px;
							width:4px;
							height:4px;
							background-color: #fff;
							.transform(~"rotate(45deg)");
						}
					}
				}

				p {
					color:#fff;
					.helvetica-light;
					font-size: 14px;
					line-height: 19px;
					letter-spacing: -0.2px;
					padding: 0 18px;
					margin-bottom: 8px;
				}

				h1, h2, h3, h4, h5, h6 {
					color:#fff;
					.mercury-medium;
					font-size: 22px;
					line-height: 28px;
					letter-spacing: -0.2px;
					padding: 0 18px;
					margin-bottom: 8px;
				}

			}
		}

		.promo-cta {
			border-top:1px solid #454545;

			a {
				.mercury-bold-italic;
				font-size: 16px;
				letter-spacing: -0.5px;
				color:#bfbfbf;
				text-decoration: none;
				padding:12px 18px 15px;
				display:block;
				text-transform: uppercase;

				i {
					color:@gw-blue;
					position: relative;
					top: 1px;
					font-size: 20px;
					margin-left:6px;
				}
			}
		}
	}
}

.popular-stories-module {
	border-top: 4px solid @gw-black;
	margin-left:@mobile-margin;
	margin-right:@mobile-margin;

	@media(min-width:531px){
		margin-left:auto;
		margin-right:auto;
	}

	h2 {
		.helvetica-bold;
		font-size: 18px;
		color:@gw-red;
	    padding: 16px 0;
	}

	ul.wpp-list {
		li {
			padding-bottom:20px;
			border-bottom: @gw-border-style;
			margin-bottom: 20px;
			display:block;

			@media(@tablet) {
				padding-bottom:12px;
				margin-bottom: 12px;
			}

			article {
				h3 {
					a {
						.mercury-medium;
						font-size: 19px;
						line-height: 23px;
						letter-spacing: -0.1px;
						color:@gw-gray;
						display:block;

						@media(@tablet) {
							font-size: 16px;
							line-height: 21px;
							letter-spacing: -0.2px;
						}
					}
				}
			}
		}
	}
}

.single-promo-box {
	margin-top: 25px;
}

.ad-module {
	margin-bottom: 0;

	@media(@tablet) {
	    margin-bottom: 20px;
	}
}