	
.page{
	max-width: 635px;
	margin: 0 auto;
	padding: 0 @mobile-margin;

	@media(@tablet) {
		padding: 0 @desktop-margin;
	}

	.page-title-container{
		border-bottom: 1px solid #e6e6e6;
	    padding: 20px 0px;
	    margin: 0 auto 20px auto;

		.page-title{
			.helvetica-bold;
			font-size: 30px;
			color: @gw-black;
		}
	}

	.page-content-container{
		color: @gw-gray;
		.helvetica-light;
		font-size: 16px;

		a{
			color: #006cbf;
			text-decoration: none;
			.helvetica-medium;
			font-size: 16px;
		}
		p{
			margin-bottom: 30px;
		}
	}
}

