main.page-search {
	max-width: 960px;
	margin:0 auto;
	min-height: 1000px;

	.gsc-control-cse {
		padding: 0 @mobile-margin;

		@media(@tablet) {
			padding: 0 @desktop-margin;
		}
	}

	.gs-web-image-box, .gs-promotion-image-box {
		width:87px;

		@media(@tablet) {
			width:200px;
		}
		
		img.gs-image, img.gs-promotion-image {
			max-width: 100%;
			max-height: none;
		}
	}


	.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
		.mercury-medium;
		color:@gw-black;
		text-decoration: none;
		font-size: 17px;
		line-height: 22.5px;
		letter-spacing: -0.2px;
		margin-bottom: 2px;
	}

	.gs-result .gs-snippet {
		.helvetica-roman;
		font-size: 14px;
		line-height: 19px;
		color:@gw-gray;

		@media(@tablet) {
			.helvetica-light;
		}
	}

	.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-column, .gsc-imageResult-classic {
		border-bottom: @gw-border-style;
		padding-bottom: 20px;
	}

	.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
		color:@gw-red;
	}

	.gsc-results .gsc-cursor-box {
		.gsc-cursor-page {
			.mercury-medium-italic;
			font-size: 20px;
			letter-spacing: -0.4px;
			color:@gw-dark-blue;
			text-decoration: none;
			margin-right: 15px;

			&:hover {
				text-decoration: underline;
			}
		}

		.gsc-cursor-current-page {
			color:@gw-red;
		}
	}
}