.sign-up-inner{
	max-width: 615px !important;

	.modal-close{
		color: @gw-red !important;
		right: 23px !important;
		top: 25px !important;

		span{
			float: right;
		}
	}
}

.sign-up{
	max-width:  715px;
	background-color: #fafafa;
	padding: 25px;
	margin: 0 auto;
	min-height: 100%;
	box-sizing: border-box;

	@media(@tablet) {
		min-height: 0;
	}

	.sign-up-title-container{
		margin-bottom: 20px;

		@media(min-width: 614px) {
			margin-bottom: 50px;
		}

		.sign-up-title{
			font-size: 26px;
			margin-bottom: 10px;
			color: @gw-black;
			.helvetica-bold;

			@media(min-width: 614px) {
				font-size: 34px;
			}
		}

		.sign-up-subtitle{
			font-size:18px;
			color: @gw-red;
			.helvetica-bold;
			margin-bottom: 10px;

		    @media(min-width: 614px) {
		    	font-size: 24px;	
		    }
		}

		.sign-up-subtext{
			.helvetica-light;
			font-size: 14px;
			color: #666666;
			max-width: 380px;
			line-height: 1.4;

			@media(min-width: 614px) {
				font-size: 18px
			}
		}
	}

	.email-fields{
		margin-bottom: 17px;
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 20px;

		@media(min-width: 614px) {
			padding-bottom: 0;
			border-bottom: none;
			margin-bottom: 30px;
		}

		label.list-number{
			margin-right: 15px;
			border: 2px solid @gw-black;
			border-radius: 50%;
			height: 25px;
			width: 25px;
			padding: 5px;
			.helvetica-medium;
			font-size: 21px; 
			display: inline-block;
			text-align: center;

			@media(min-width: 614px) {
				margin-right: 30px;
			}
		}

		input.required-email{
			.helvetica-bold;
			color: #999999;
			padding: 10px;
			border-radius: 5px;
			border: 1.5px solid #b7b7b7;
			width: 210px;
			font-size: 14px;
			width: ~"calc(100% - 90px)";
			max-width: 350px;

			@media(min-width: 614px) {
				width: 420px;
				font-size: 18px;
			}
		}
	}

	.input-group{
		display: inline-block;
		margin-bottom: 10px;

		@media(min-width: 614px) {
			margin-bottom: 0;
		}

		label.list-number{
			margin-right: 15px;
			border: 2px solid @gw-black;
			border-radius: 50%;
			height: 25px;
			width: 25px;
			padding: 5px;
			.helvetica-medium;
			font-size: 21px; 
			display: inline-block;
			text-align: center;
			position: relative;
			top: -14px;

			@media(min-width: 415px) {
				top: 0px;
			}

			@media(min-width: 614px) {
				margin-right: 30px;
			}
		}

		h3{
			color: @gw-black;
			.helvetica-roman;
			font-size: 14px;
			display: inline-block;
			margin-bottom: 20px;
			margin-top: 15px;
			width: 200px;

			@media(min-width: 415px) {
				width: auto;
			}

			@media(min-width: 614px) {
			
			}
		}

		ul{
			position: relative;
			.clearfix;
			
			@media(min-width: 614px) {
				padding-left: 60px;
				margin-bottom: 30px;
			}


			li{
				margin-bottom: 15px;
				float: left;
				width: 100%;

				@media(min-width: 614px) {
					width: 290px;
				}

				.item-wrap{

					input{
						margin-right: 10px;
						margin-left: 13px;
					}

					.list-label{
						border: none;
						font-size: 13px;
						.helvetica-bold;
						color: @gw-black;

						@media(min-width: 614px) {
							font-size: 15px;
						}
					}

					.fa-question-circle{
						color: #c1c0c0;
						margin-left: 5px;
						font-size: 13px;
						position: initial;
						

						@media(min-width: 614px) {
							position: relative;
						}

						.sign-up-popover{
							width: 100%;
							display: none;
							border: 1px solid #dcdcdc;
							width: 200px;
							padding: 15px;
							position: absolute;
							left: 35px;
							background-color: #ffffff;
							z-index: 50;
							box-shadow: 1px 1px 5px 1px #bcbcbc;
							transform: translate(0%, -120%);

							@media(min-width: 614px) {
								transform: 0;
								left: -60px;
								bottom: 200%;
								transform: translate(0, 0);
							}

							h4{
								.helvetica-bold;
								font-size: 14px;
								color: @gw-black;
								margin-bottom: 15px;
							}

							p{
								.helvetica-light;
								font-size: 14px;
								color: @gw-black;
								line-height: 1.4;
							}
						}
						.sign-up-popover:after {
							content: "";
							position: absolute;
							bottom: -12px;
							left: 65px;
							border-style: solid;
							border-width: 13px 13px 0px 0px;
							border-color: #fafafa transparent;
							display: block;
							width: 0;
							z-index: 1;
						}

						.sign-up-popover:before {
							content: "";
							position: absolute;
							bottom: -14px;
							left: 64px;
							border-style: solid;
							border-width: 14px 14px 0px 0px;
							border-color: #dcdcdc transparent;
							display: block;
							width: 0;
							z-index: 0;
						}
					}

					&:hover{
						color: @gw-red;
						cursor: pointer;
					}

					&:hover .sign-up-popover{
						display: block;
					}

					&:focus .sign-up-popover{
						display: block;
					}

					&:hover label{
						border-bottom: 1px solid #a4a4a4;
					}

					&:focus label{
						border-bottom: 1px solid #a4a4a4;
					}

					&:hover  .sign-up-popover:before{
						display: block;
					}

					&:focus  .sign-up-popover:before{
						display: block;
					}

					&:hover .fa-question-circle {
						color: @gw-red;
					}
				}

				.item-wrap:hover label.list-label{
					cursor: pointer;
					border-bottom: 1px solid #6d6d6d;
				}	
			}

			.right-col-list{
				width: 200px;

				.fa-question-circle{
					.sign-up-popover{
						@media(min-width: 614px) {
							left: -200px !important;
						}
					}
					.sign-up-popover:before{
						
						@media(min-width: 614px) {
							left: 205px !important;
						}

					}

					.sign-up-popover:after{
						@media(min-width: 614px) {
							left: 206px !important;
						}


					}

				}
			}
		}
	}

	.clear {
		.clearfix;
	}

	.button{
		.gw-btn-black;
		width: 100%;

		@media(min-width: 614px) {
			float: right;
			width: auto;
		}

		&:after {
			position: relative;
			top: -3px;
		
			@media(min-width: 614px) {
				
			}
		}
	}
}