.single-gallery-container{
	background-color: #191919;

	.single-gallery{
		padding: 0 @desktop-margin 40px;
		max-width: @content-wide;
		margin: 0 auto;
		box-sizing: border-box;

		@media(max-width: @break-mobile-max){
			padding: 0 @mobile-margin 40px;
		}

		.gallery-title-container{
			border-top: 4px solid @gw-link-white;
			margin-bottom: 30px;
			.helvetica-bold;
			color: @gw-link-white;
			border-bottom: 1px solid #666666;
			padding-bottom: 20px;
			padding-top: 15px;

			h1{
				font-size: 24px;
				display: inline-block;
				width: ~"calc(100% - 330px)";

				@media(max-width: @break-mobile-max){	
					width: 100%;
					margin-bottom: 0px;
					float: none;
				}	
			}	

			.gallery-share-button-container{
				display: inline-block;
				float: right;
				position: relative;
				top: 5px;

				@media(max-width: @break-mobile-max){	
					float: none;
					display: none;
				}

				li{
					float: left;
					color: @gw-link-white;
					margin-right: 20px;
					padding-right: 20px;
					border-right: 1px dashed #818181;

					a{
						position: relative;
						top: -2.5px;
						color: #818181;
						text-decoration: none;
						.helvetica-medium;
						font-size: 12px;
						i{	
							font-size: 20px;
							position: relative;
							top: 2.5px;
							color: @gw-link-white;
							margin-right: 10px;
						}
					}
				}

				li:last-child{
					margin-right: 0;
					border-right: none;
				}	
			}
		}	

		.gallery-and-modules-container{
			.clearfix;
			padding-bottom: 70px;

			.gallery-container{
				.clearfix;
				float: left;
				width: ~"calc(100% - 330px)";
				margin-right: 30px;
				position: relative;

				@media(max-width: @break-mobile-max){	
					width: 100%;
				}	
				
				.swiper-btn-cap-pag-container{
					clear:both;
					padding-top: 18px;
					padding-bottom: 34px;
				    margin-bottom: 28px;
					position:relative;
					text-align: center;
					.clearfix;

					&:after {
						@media(@tablet) {
							content:'';
							background-color: #666666;
							height:1px;
							width:~"calc(100% + 330px)";
							top: 35px;
							position: relative;
						}
					}

					@media(max-width: @break-mobile-max){	
					    border-bottom: 1px solid #666666;
					    padding-bottom: 10px;
					    padding-top: 4px;
					    margin-bottom: 12px;
					}

					.swiper-pagination{
						.mercury-medium-italic;
						font-size: 24px;
						color: @gw-link-white;
						width: 66px;
					    margin-right: 20px;
						position:relative;
						float:left;	
						bottom:auto;

						@media(max-width: @break-mobile-max){	
							width: 100%;
							font-size: 21px;
						}	
						
						&.pagination-desktop {
							display:none;

							@media(@tablet) {
								display:block;
							}	
						}

						&.pagination-mobile {
							display:inline-block;
							width:auto;
							float:none;
							margin-right:auto;
						    height: 40px;
					        line-height: 36px;

							@media(@tablet) {
								display:none;
							}	
						}
					}

					.figcaption-container {
						text-align: right;
						border-bottom: 1px solid #666666;
						padding-bottom: 10px;
					    margin-bottom: 10px;

						@media(@tablet) {
							float:left;
							width:~"calc(100% - 210px)";
							min-height:60px;
							text-align: left;
							border-bottom: 0;
							padding-bottom: auto;
							margin-bottom: auto;
						}

						figcaption{
							color: #999999;
							.helvetica-roman;
							font-size: 12px;
							display:none;
							bottom: -55px;
							left: 80px;
							line-height: 1.6;

							@media(max-width: @break-mobile-max){	
								width: 100%;
								position: initial;
								font-size: 10px;
								line-height: 14px;
								color:#BDBDBD;
							}		

							&.show {
								display:block;
							}				
						}
					}


					.swiper-button-next, .swiper-button-prev{
						background-image: none;	
						position:relative;
						top: auto;
						left: auto;
						text-align: center;
						float:right;
						margin-top: 0;
						width:40px;
					}
						
					.swiper-button-next{
						right:0;
						float:none;
						position:absolute;
					}

					.swiper-button-prev{
						left:0;
						float:none;
						position:absolute;

						@media(@tablet) {
							left:auto;
							right: 53px;
							float:right;
						}
					}

					i{	
						font-size: 22px;
						line-height: 1.4;
						color: @gw-link-white;
						border-radius: 50%;
						height: 30px;
						width: 30px;
						border: 2px solid #464646;
						padding: 3px;
					}
				}

				.swiper-container{
					height:220px;

					@media(@tablet) {
						height:550px;
					}

					.swiper-wrapper{
						.clearfix;

						.swiper-slide{
							figure{
								position: relative;
								width: 100%;
								height: 100%;
						
								img{
									max-width: 100%;
									max-height: 100%;
									position:relative;
									display:block;
									margin:0 auto;
									top:50%;
									-webkit-transform: translateY(-50%);
									   -moz-transform: translateY(-50%);
									    -ms-transform: translateY(-50%);
									     -o-transform: translateY(-50%);
									        transform: translateY(-50%);
								}
							}
						}
					}
				}
				
			}

			.right-modules{
				padding-left: 0;
				clear:both;
				margin-left:-15px;
				width:100vw;

				@media(@tablet) {
					clear:none;
					margin-left:auto;
					width:auto;
				}

				.gw-ad{
					background-color: #191919;
				}
			}
		}

		.gallery-subhead-and-description{
			margin-bottom: 14px;

			@media(@tablet) {
				margin-bottom: 0;
			}

			h2{
				.helvetica-bold;
				font-size: 13px;
				line-height: 16px;
				color: @gw-link-white;

				@media(@tablet) {
					margin-bottom: 15px;
					font-size: 24px;
				}
			}
			.description{
				.helvetica-light;
				color: #cccccc;
				font-size: 11px;
				line-height: 16px;

				@media(@tablet) {
					font-size: 16px;
					line-height: 23px;
					width: 630px;
				}

			}
		}
	}
}

#gw-modal-gallery {
	position:fixed;
	top:0;
	width:100%;
	height:100vh;
    z-index: 30;
    background-color: @gw-black;
    overflow: scroll;
    opacity:0;
	display:none;

	&.active {
		display:block;
	}

	.modal-inner {
		
		.close-button-container {
			position:relative;
			padding: 50px 30px 20px;
			max-width: 1200px;
			margin: 0 auto;
			box-sizing: border-box;
			.clearfix;

			i {
				color:@gw-red;
				font-size: 21px;
				float:right;
				cursor: pointer;
			}
		}
	}

}