.single-video-container{
	background-color: #191919;

	.single-video_post{
		padding: 0 @desktop-margin 40px;
		max-width: @content-wide;
		margin: 0 auto;
		box-sizing: border-box;

		@media(max-width: @break-mobile-max){
			padding: 0 @mobile-margin 40px;
		}

		.video-title-container{
			border-top: 4px solid @gw-link-white;

			.helvetica-bold;
			color: @gw-link-white;
			border-bottom: 1px solid #666666;
			padding-bottom: 20px;
			padding-top: 15px;
			h1{
				font-size: 24px;
				display: inline-block;
				width: ~"calc(100% - 330px)";

				@media(max-width: @break-mobile-max){
					width: 100%;
					margin-bottom: 15px;
				}
			}

			.video-share-button-container{
				display: inline-block;
				float: right;
				position: relative;
				top: 5px;

				@media(max-width: @break-mobile-max){
					float: none;
				}

				li{
					float: left;
					color: @gw-link-white;
					margin-right: 20px;
					padding-right: 20px;
					border-right: 1px dashed #818181;

					a{
						position: relative;
						top: -2.5px;
						color: #818181;
						text-decoration: none;
						.helvetica-medium;
						font-size: 12px;
						i{
							font-size: 20px;
							position: relative;
							top: 2.5px;
							color: @gw-link-white;
							margin-right: 10px;
						}

					}

				}

				li:last-child{
					margin-right: 0;
					border-right: none;
				}
			}

		}

		.video-and-modules-container{
			.clearfix;
			padding-top: 40px;

			.video-with-info{
				float: left;
				width: ~"calc(100% - 330px)";

				@media(max-width: @break-mobile-max){
					width: 100%;
					margin-bottom: 40px;
				}

				.video-aspect-ratio-fix{
					width: 100%;
					padding-bottom: 40px;
					border-bottom: 1px solid #666666;
					margin-bottom: 30px;
					float: left;
					.clearfix;

					@media(max-width: @break-mobile-max){
						width: 100%;
					}

					.video-container{
						position: relative;
						width: 100%;
						height: 0;
						padding-bottom: 56.25%;

						iframe{
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0; top: 0;
						}
					}
				}
			}


			.right-modules{
				.right-rail-style;

				@media(max-width: @break-mobile-max){
					clear:both;
				}

				.gw-ad{
					background-color: #191919;
				}
			}
		

		.video-subhead-and-description{
			max-width: 660px;
			color: @gw-link-white;
			display: inline-block;

			h2{
				font-size: 24px;
				.helvetica-bold;
				margin-bottom: 8px;
			}
			.description{
				p{
					.helvetica-light;
					font-size: 16px;
					line-height: 1.35;
					color: #cccccc;

					@media(max-width: @break-mobile-max){
						line-height: 1.2;
					}
				}
			}
		}
	}
	}
}
