.category-title-container{
	border-bottom: 1px solid #e6e6e6;
	border-top: 4px solid @gw-black;
    padding: 20px 0px;
    margin: 0 auto 20px auto;

    .category-title{
    	.helvetica-bold;
    	font-size: 30px;
    	color: @gw-black;
    }
}

.page-social-links{
	margin: 0 auto 50px;
	max-width: @content-slim;
	padding: 0 @mobile-margin;

	@media(@tablet) {
		padding:0 @desktop-margin;
	}

	li{
		float: left;
		width: 25%;
		margin-bottom: 10px;
		@media(max-width: 875px){
			width: 33.3%;
		}
		@media(max-width: 650px){
			width: 50%;
		}
		@media(max-width: 400px){
			width: 100%;
		}

	}		
	.social-container{
		.clearfix;
		li{
			list-style: none;
		}
		a{
			.helvetica-roman;
			font-size: 15px;
			color: #666666;
			text-decoration: none;
			list-style: none;
		}
		.social-headline{
			.helvetica-bold;
			font-size: 15px;
			color: @gw-black;
			// border-bottom: 2px solid @gw-red;

		}
		.social-row-1, .social-row-2{
			display: block;
			.clearfix;
		}

		.social-facebook, .social-twitter, .social-staff{
			clear: both;
			display: block;
			.clearfix;
			h3{
				margin-top: 15px;
				margin-bottom: 30px;
			}
			span{
				padding-bottom: 5px;
				border-bottom: 2px solid @gw-red;
			}
		}

		hr{	
			display: block;
			height: 1px;
			background-color: #e6e6e6;
			border: none;
			margin: 15px 0px 25px 0px;	
		}

		.social-staff{
			
			.social-staff-name-link{
				display: block;
			}
		
			.social-staff-twitter-handle{
				color: @gw-red;
			}
		}	
	}
}


