.taxonomy-staff{

	.module{
		float: left;
		margin-bottom: 30px;
		@media(max-width: @break-mobile-max){
			float: none;
			clear: both;
		}
	}
	
	.staff-all-content-container{
		.clearfix;
		max-width: @content-wide;
		margin: 0 auto;
		padding:30px @desktop-margin;
		position:relative;

		@media(max-width: @break-mobile-max){
			padding:15px @mobile-margin;
		}

		&:before {
			content:'';
			width:~"calc(100% - 60px)";
			position:absolute;
			height:4px;
			background-color: @gw-black;
			top:0;

			@media(max-width: @break-mobile-max){
				width:~"calc(100% + 30px)";
				left: -15px;
			}

		}
	}
	.staff-info-page-container{
		float: left;
		width: ~"calc(100% - 330px)";
		margin: 0 0px 30px 0px;

		@media(max-width: @break-mobile-max){
			width: 100%;
			margin: 0 0 30px 0;
		}

		hr{	
			display: block;
			height: 4px;
			background-color: @gw-black;
			border: none;
			margin: 15px 0px 0px 0px;	
		}
		
		.staff-image-container{
		   	background-repeat: no-repeat;
		    background-position: 50% 50%;
		    border-radius: 50%;
		    width: 160px;
		    height: 160px;
		    background-size: cover;
		    border: 1px solid #e6e6e6;
		    float: left;
		    margin-bottom: 20px;

		    @media(max-width: @break-mobile-max){
		    	width: 80px;
		    	height: 80px;
		    }
		}

		.staff-headers-and-contact-links-container{
			position: relative;
			top: 20px;
			left: 25px;
			@media(max-width: @break-mobile-max){
				width: ~"calc(100% - 125px)";
				top: 0px;
				float: left;
				margin-left: -7px;
			}

			.staff-headers{
				@media(max-width: @break-mobile-max){
					margin-bottom:  10px;
				}

				.staff-title-header{
					font-size: 16px;
					color: @gw-red;
					.helvetica-bold;
					@media(max-width: @break-mobile-max){
						font-size: 12px;
					}
				}

				.staff-name-header{
					font-size: 32px;
					.helvetica-bold;

					@media(max-width: @break-mobile-max){
						font-size: 18px;
					}
				}
			}

			.staff-contact-link-container{
				margin-top: 30px;
				.clearfix;
		
				@media(max-width: @break-mobile-max){
					margin-top: 15px;
					margin-bottom: 5px;
				}

				.staff-fa{
					@media(max-width: @break-mobile-max){	
						margin-right: 5px;
					}	
				}

				a{
					font-size: 14px;
					.helvetica-roman;
					color: @gw-red;
					float: left;
					margin-right: 35px;
					text-decoration: none;
					margin-bottom: 10px;
					@media(max-width: @break-mobile-max){
						margin-right: 0;
						font-size: 14px;
						clear: both;
					}
				}
			}

			.staff-hr-1{
				 display: none;
				 height: 1px;
				 background-color: #dcdcdc;
				 border: none;
			}

			.staff-hr-1{
				@media(max-width: @break-mobile-max){	
					display: block;
					margin-right: -23px;
				}	
			}
		}

		.staff-info-container{
			font-size: 14px;
			line-height: 19px;
			.helvetica-light;
			// border-bottom: 4px solid @gw-black;
			clear: both;
			.clearfix;

			@media(max-width: @break-mobile-max){	
				border-top: 1px solid #dcdcdc;
				padding-top: 15px;
			}	


			h3{
				display: inline;
				font-size: 14px;
				.helvetica-bold;
				margin-right: 3px;
				color: @gw-black;
			}
			.staff-title, .staff-hometown, .staff-career-highlights{
				margin-bottom: 10px;
				float: left;
				clear: both;
				.clearfix;

				p{
					color: @gw-black;
					display: inline;
					position: relative;
					max-width: 750px;
				}
			}
			.staff-hometown *{
				
			}
			.staff-career-highlights {
				max-width: 750px;
				padding-bottom: 25px;
			}
		}
	}

	.staff-article-list-and-header-container{
		
		.staff-article-header{
			h4{
				font-size: 18px;
				color: @gw-red;
				.helvetica-bold;
				border-bottom: 1px solid #dcdcdc;
				padding-bottom: 15px;
				margin-bottom: 20px;
			}

			.with-top-bottom-padding{
				padding: 15px 0;
			}
		}
	}
}

