.standard-article-list {
	article {
		.clearfix;
		padding-bottom: 20px;
		border-bottom: @gw-border-style;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		figure {
			float:right;
			margin-bottom: 10px;
			width: 35%;
			margin-left: 15px;
	
			@media(@tablet) {
				width: 52.8%;
			}

			img {
				 width:100%;

				@media(@tablet) {
					object-fit: cover;
					height: auto;
					max-height: 245px;
				}
			}
		}

		h3 {
			font-size: 19px;
			line-height: 23px;
			letter-spacing: -0.1px;
			margin-bottom: 2px;
			.mercury-bold;

			@media(@tablet) {
				font-size: 24px;
				line-height: 28px;
				letter-spacing: -0.1px;
			}
		}

		time {
			display:block;
			margin-bottom: 6px;
		}

		p{
			color: @gw-gray;
			font-size: 14px;
			.helvetica-light;
		}
	}
}