main.single-tracker {
	max-width: @content-slim;
	margin:0 auto;
	position:relative;

	@media(@tablet) {
		padding:0 @desktop-margin;
	}

	> article {
		position:relative;

		&:before {
			content:"";
			height: 4px;
			background-color: @gw-black;
			position:absolute;
			top: 0;
			left: 0;
			width:~"calc(100%)";


			@media(max-width: 1200px) {
				top: 0px;
				left: 45px;
				width:~"calc(100% - 45px)";
			}

			@media(max-width: 1110px) {
				top: 0px;
				left: 90px;
				width:~"calc(100% - 90px)";
			}

			@media(max-width: 767px) {
				top: 28px;
				left: 140px;
				width:~"calc(100% - 155px)";
			}
		}



		.content {
			.clearfix;
			width: 100%;
			margin-left: 0px;

			@media(max-width: 1200px) {
				margin-left: 45px;
				width:~"calc(100% - 45px)";
			}
			@media(max-width: 1110px) {
				margin-left: 90px;
				width:~"calc(100% - 90px)";
			}
			@media(max-width: 767px) {
				margin-left: 0;
				width: 100%;
			}
			

			header {
				border-bottom: @gw-border-style;
			    margin-bottom: 30px;
			    padding:21px 0;
			    .clearfix;
			    position:relative;

			    @media(max-width: @break-mobile-max) {
					padding: 0 15px;
					border-bottom: none;
					margin-bottom: 0;
				}

				h3 {
					background-color: @gw-red;
					.mercury-medium-italic;
					letter-spacing: -0.51px;
					color:#fff;
					font-size: 13px;
					line-height: 0px;
					position:absolute;
					left: 20px;
					top: 7px;
					padding: 13px 3px;
					height:25px;
					box-sizing: border-box;

					@media(@tablet) {
						left: -99px;
					    top: 7px;
					    height: 60px;
					    font-size: 19px;
					    line-height: 17px;
					}

					span {
						position:relative;
						z-index: 1;

						&.tracker {
							left:4px;
							padding-right: 5px;

							@media(@tablet) {
								padding-right: 0;
							}
						}
					}

					br{
						display: none;

						@media(@tablet) {
							display: block;
						}

					}

					&:before {
						content:'';
						width:60px;
						height:100%;
						background-color: @gw-red;
						position:absolute;
						left:-7px;
						top:0;
						-webkit-transform: skewX(8deg);
						   -moz-transform: skewX(8deg);
						    -ms-transform: skewX(8deg);
						     -o-transform: skewX(8deg);
						        transform: skewX(8deg);


						@media(@tablet) {
						
						}        
					}

					&:after {
						content:'';

						width: 16px;
						height: 16px;
						position: absolute;
						right: -7.5px;
						top: 5px;

						background-color: @gw-red;
						-webkit-transform: rotate(-44deg) skew(-10deg,-10deg);
						   -moz-transform: rotate(-44deg) skew(-10deg,-10deg);
						    -ms-transform: rotate(-44deg) skew(-10deg,-10deg);
						     -o-transform: rotate(-44deg) skew(-10deg,-10deg);
						        transform: rotate(-44deg) skew(-10deg,-10deg);



						@media(@tablet) {
							width: 37px;
							height: 36px;
							position: absolute;
							right: -19px;
							top: 12px;

							background-color: @gw-red;
							-webkit-transform: rotate(-45deg) skew(-10deg,-10deg);
							   -moz-transform: rotate(-45deg) skew(-10deg,-10deg);
							    -ms-transform: rotate(-45deg) skew(-10deg,-10deg);
							     -o-transform: rotate(-45deg) skew(-10deg,-10deg);
							        transform: rotate(-45deg) skew(-10deg,-10deg);
					
						}        
					}

				}

				h1 {
					font-size: 19px;	
					.helvetica-bold;
					color:@gw-black;
					padding-top: 45px;
					border-bottom: 1px solid #dcdcdc;
					padding-bottom: 15px;
					margin-bottom: 15px;
					
					@media (@tablet){
						font-size: 30px;
						line-height: 32px;
						padding-top: 0px;
						letter-spacing: -0.8px;
						line-height: 30px;	
						font-size: 30px;	
						width:~"calc(100% - 320px)";	
						display:inline-block;	
						padding-left: 26px;	
						border-bottom: none;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}

				ul.share-article-top {
					display:inline-block;
					padding:0;
					margin-bottom: 2px;
					display: none;

					@media(@tablet) {
						display: block;
						float:right;
						padding-right: 7px;
					}

					li {
						display:inline-block;

						@media(@tablet) {
							padding:0px 14px 4px;
							border-right: 1px dotted #cccccc;
							display:inline-block;
						}

						&:before {
							display:none;
						}

						&:last-child {
							@media(@tablet) {
								border-right: 0px;
							}
						}

						a {
							.helvetica-light;
							color:@gw-gray;
							font-size: 12px;
							letter-spacing: 0.05px;
							text-decoration:none;
							padding:10px 4px;
							display:inline-block;

							@media(@tablet) {
								padding: 0;
								display:inline;
							}

							span {
								display:none;

								@media(@tablet) {
									display:inline;
								}
							}

							i {
								font-size: 22px;
								position:relative;
								top:4px;
								margin-right: 5px;
							}

							&.link-facebook {
								i {
									color:#3b5998;
								}
							}

							&.link-twitter {
								i {
									color:#00aced;
								}
							}

							&.link-email {
								i {
									color:#474747;
								}
							}

							&.link-print {
								display:none;

								@media(@tablet) {
									display:inline-block;
								}

								i {
									color:#666666;
								}
							}
						}
					}
				}
			}

			.article-body {
				clear:both;
				width: 100%;
				position:relative;
				padding:0 @mobile-margin;
				box-sizing: border-box;
				border-left:@gw-border-style;

				@media (@tablet){
					float:left;
					width:~"calc(100% - 330px)";	
					padding:0 0 0 20px;	
				}

				@media(max-width: 1000px) {
					width: 100%;
				}

				#liveblog-container {
					margin-top: 0;

					.liveblog-form {
						margin-bottom: 20px;

						.liveblog-actions {
							legend {
								ul {
									li {
										.helvetica-roman;

										&.active {
											a {
												color:@gw-black;
											}
										}

										a {
											color:@gw-red;
										}
									}
								}
							}

							.liveblog-submit-wrapper {
								.liveblog-form-entry-submit.button {
									background-color: @gw-red;
									background-image: none;
									border:0;
									.helvetica-bold;
									font-size: 15px;
									color:#fff;
									border-radius: 2px;
									box-shadow: none;
									text-transform: uppercase;
								}
							} 
						}
					}

					#liveblog-entries {
						padding-top: 0;

						> div {
							
							&:nth-last-of-type(2) {
								border-bottom: 0;
								position:relative;

								&:before {

									@media(@tablet) {
										content:'';
										width:2px;
										height:100%;
										background-color: #fff;
										position:absolute;
										left: -22px;
										top: 15px;
									}
								}

								header.liveblog-meta .liveblog-meta-time a {
									display:block;
								}
							}
						}
					}
					
					.liveblog-entry {
						border-top: 0;
						padding-top: 0;
						overflow: initial;
						border-bottom:@gw-border-style;
						padding-bottom: 20px;
						margin-bottom: 20px;

						@media(@tablet) {
							padding-bottom: 14px;
							margin-bottom: 14px;
						}


						&:first-child {
							header.liveblog-meta {
							.liveblog-meta-time {
								top:-4px;
							}
							}
						}

						header.liveblog-meta {
							border-bottom: 0px;
							padding:0;
							margin-bottom: 0;

							.liveblog-author-avatar {
								display:none;
							}

							.liveblog-author-name {
								display:none;
							}

							.liveblog-meta-time {
								float:none;
								position: initial;
								right:~"calc(100% + 16px)";
								top: 8px;
								width:100px;
								margin:0;
								display:block;
								padding-right: 15px;
								margin-bottom: 20px;

								@media(@tablet) {
									text-align: right;
									margin-bottom: 0;
									position: absolute;
								}

								&:after {
									content:'\2022';
									position:absolute;
									right:0;
									top:2px;
									color:@gw-red;
									font-size: 24px;
									display: none;

									@media(@tablet) {
										display: block;
									}

								}

								.date {
									.mercury-bold-italic;
									font-size: 20px;
									line-height: 16px;
									letter-spacing: -0.5px;
									color:@gw-gray;

									@media(@tablet) {
										font-size: 16px;
									}
								}

								.date-year {
									.helvetica-medium;
									font-size: 12px;
									line-height: 18px;
									letter-spacing: -0.05px;
									color:@gw-red;

									@media(@tablet) {
										.helvetica-bold;
										line-height: 16px;

									}

								}
							}
						}

						.liveblog-entry-text {
							margin:0;



							> p {
								.helvetica-light;
								font-size: 14px;
								line-height: 19px;
								color:@gw-gray;

								&:first-child {
									
									&:before {
										content:'EVENT UPDATE';
										position:relative;
										display:none;
										.helvetica-bold;
										font-size: 12px;
										line-height: 23px;
										letter-spacing: -0.01px;
										color:@gw-red;

										@media(@tablet) {
										
										}
									}
								}

								iframe{
									max-width: 100%;

									&.wp-embedded-content {
										width:100%;

										@media(min-width:580px) {
											height:auto;
										}
									}
								}


								> a {
									.mercury-medium;
									word-wrap: break-word;
									font-size: 22px;
									line-height: 28px;
									letter-spacing: -0.05px;
									color:@gw-black;
									text-decoration: none;
								}

								img {
									max-width: 100%;
									box-sizing: border-box;
								}
							}

							time {
								.helvetica-roman;
								font-size: 11px;
								color:#999999;
							}
						}
					}
				}
			}

			.right-modules {
				.right-rail-style;

				@media(max-width: 1000px) {
					clear: both;
					float: none;
					margin: 0 auto;
				}
			}
		}
	}

}